In [1]:
# pip install sqlalchemy
# pip install psycopg2

In [2]:
# Import python database driver
import psycopg2

# Import config file for password and username (not commited to Github)
from config import username, password

# Import create_engine and Session to interact with PostGres using Alchemy
from sqlalchemy import create_engine
# from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker


# Import Base and features to create tables using ALchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, ForeignKey, ForeignKeyConstraint
from datetime import datetime

from sqlalchemy.orm import relationship

# Others
import pandas as pd

# Inspect csv files to be inserted into database

In [3]:
main_table_df = pd.read_csv("Transformed Data/AllJobMarket-Transformed.csv")
main_table_df.head()

,job_id,job_title_id,country_id,job_title,company_name,company_location,city,state
0,p_ecae2dcad8f17d8b,1,2,Data & Systems Analyst,Protein Industries Canada,"Regina, SK",Regina,SK
1,pj_12dccdfbb8ef0da5,1,2,Junior Data Analyst - LOCAL | MTL,BDP CALL CENTER,"Vaudreuil-Dorion, QC",Vaudreuil-Dorion,QC
2,pj_7837ad55c28258ea,1,2,Pipeline Inline-Inspection Data Analyst (ILI L...,Onstream Pipeline Inspection Services Inc.,"Calgary, AB",Calgary,AB
3,p_05719d87a0059bf7,1,2,Data and Reporting Analyst,Nunavut Government,"Iqaluit, NU",Iqaluit,NU
4,p_bf4bd5f13d04a674,1,2,Specialist-Data Visualization,Canadian Red Cross,Canada,Canada,NaN

In [4]:
location_df = pd.read_csv("Transformed Data/Location-coordinates.csv")
location_df.head()

   country_id              city state        lat         lng
0           2            Regina    SK  50.448760 -104.617310
1           2  Vaudreuil-Dorion    QC  45.397151  -74.025458
2           2           Calgary    AB  51.053423 -114.062589
3           2           Iqaluit    NU  63.749440  -68.521857
4           2        Lethbridge    AB  49.694285 -112.851562

In [5]:
country_df = pd.read_csv("Transformed Data/country.csv")
country_df.head()

   country_id   country_name
0           1      Singapore
1           2         Canada
2           3  United States
3           4      Australia

In [6]:
job_df = pd.read_csv("Transformed Data/job_title.csv")
job_df.head()

   job_title_id         job_title
0             1      Data Analyst
1             2    Data Scientist
2             3     Data Engineer
3             4  Machine Learning

In [7]:
mentalhealth_df = pd.read_csv("Transformed Data/MentalHealth-Transformed.csv")
mentalhealth_df.head()

,sample_id,timestamp,age,gender,country_id,state,self_employed,family_history,treatment,work_interfere,...,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical
0,0,2014-08-27 11:29:31,37,Female,3,IL,NaN,No,Yes,Often,...,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes
1,1,2014-08-27 11:29:37,44,Male,3,IN,NaN,No,No,Rarely,...,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know
2,2,2014-08-27 11:29:44,32,Male,2,NaN,NaN,No,No,Rarely,...,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No
3,4,2014-08-27 11:30:22,31,Male,3,TX,NaN,No,No,Never,...,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know
4,5,2014-08-27 11:31:22,33,Male,3,TN,NaN,Yes,No,Sometimes,...,Don't know,Don't know,Don't know,No,No,Yes,Yes,No,Maybe,Don't know

In [8]:
instituition_df = pd.read_csv("Transformed Data/University-Transformed.csv")
instituition_df.head()

,Unnamed: 0,institution,world_rank,country_id,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,0,Harvard University,1,3,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,1,Massachusetts Institute of Technology,2,3,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,2,Stanford University,3,3,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,California Institute of Technology,5,3,4,2,29,7,37,22,22,NaN,18,85.21,2012
4,5,Princeton University,6,3,5,8,14,2,53,33,26,NaN,101,82.50,2012

# Connect to Database and Create Tables

In [9]:
# Create engine as an interface to PostgreSQL local database named Project_2_ETL
db = create_engine(f'postgresql://{username}:{password}@localhost:5432/Project_2_ETL')

In [10]:
# Declarative_base use used to create classes and tables relative to that base
Base = declarative_base()

In [11]:
class Country(Base):  
    __tablename__ = 'country'
    
    country_id = Column(Integer, primary_key=True)
    country_name = Column(String)
    
class Location(Base):  
    __tablename__ = 'location'
    
    city = Column(String, primary_key=True)
    state = Column(String)
    country_id = Column(Integer, ForeignKey("country.country_id"))
    lat = Column(String)
    lon = Column(String)
    
class Main(Base):  
    __tablename__ = 'maintable'
#     __table_args__ = {'extend_existing':True}
    
    job_id = Column(String, primary_key=True)
    job_title_id = Column(Integer, ForeignKey("job.job_title_id"))
    country_id = Column (Integer, ForeignKey("country.country_id"))
    job_title = Column(String)
    company_name = Column(String)
    company_location = Column(String)
    city = Column(String)
    state = Column(String)
    __table_args__ = (ForeignKeyConstraint([city, state],[Location.city, Location.state]), {'extend_existing':True})
      
class Job(Base):  
    __tablename__ = 'job'
    
    job_title_id = Column(Integer, primary_key=True)
    job_title = Column(String)
    
class Instituition(Base):  
    __tablename__ = 'instituition'
    
    job_title_id = Column(Integer, primary_key=True)
    world_rank = Column(Integer)
    institution = Column(String)
    country_id = Column(Integer, ForeignKey("country.country_id"))
    national_rank = Column(Integer)
    quality_of_education = Column(Integer)
    alumni_employment = Column(Integer)
    quality_of_faculty = Column(Integer)
    publications = Column(Integer)
    influence = Column(Integer)
    citations = Column(Integer)
    broad_impact = Column(Integer)
    patents = Column(Integer)
    score = Column(Float)
    year = Column(Integer)
    
# Define mapped classes on the base, and create table in this class
   

class Mentalhealth(Base):  
    __tablename__ = 'mentalhealth'   
    
    sample_id = Column(Integer, primary_key=True)
    timestamp = Column(Date)
    age = Column(Integer)
    gender = Column(String)
    country_id = Column(Integer, ForeignKey("country.country_id"))
    state = Column(String)
    self_employed = Column(String)
    family_history = Column(String)
    treatment = Column(String)
    work_interfere = Column(String)
    no_employees = Column(String)
    remote_work = Column(String)
    tech_company = Column(String)
    benefits = Column(String)
    care_options = Column(String)
    wellness_program = Column(String)
    seek_help = Column(String)
    anonymity = Column(String)
    leave = Column(String)
    mental_health_consequence = Column(String)
    phys_health_consequence = Column(String)
    coworkers = Column(String)
    supervisor = Column(String)
    mental_health_interview = Column(String)
    phys_health_interview = Column(String)
    mental_vs_physical = Column(String)

In [12]:
# Create session to talk to the database (instead of direct connect and execute)
# A session is a workspace for your objects, at this point we hasnt opened any connections yet until we commit all changes and close the session
Session = sessionmaker(db)  
session = Session()

In [13]:
# The Table is a member of a larger collection called MetaData
# MetaData has the ability to emit a limited set of schema generation commands to database (ex: Create Table statement)
Base.metadata.create_all(db)

In [14]:
# Create table, define data types, commit, and close session
main_table_df.to_sql('maintable', con=db, index=True, index_label='id', if_exists='replace', method='multi')

In [15]:
location_df.to_sql('location', con=db, index=True, index_label='id', if_exists='replace', method='multi')

In [16]:
country_df.to_sql('country', con=db, index=True, index_label='id', if_exists='replace', method='multi')

In [17]:
job_df.to_sql('job', con=db, index=True, index_label='id', if_exists='replace', method='multi')

In [18]:
mentalhealth_df.to_sql('mentalhealth', con=db, index=True, index_label='id', if_exists='replace', method='multi')

In [19]:
instituition_df.to_sql('instituition', con=db, index=True, index_label='id', if_exists='replace', method='multi')

In [21]:
session.commit()
session.close()

In [20]:
db.execute("SELECT * FROM maintable").fetchall()

[(0, 'p_ecae2dcad8f17d8b', 1, 2, 'Data & Systems Analyst', 'Protein Industries Canada', 'Regina, SK', 'Regina', 'SK'),
 (1, 'pj_12dccdfbb8ef0da5', 1, 2, 'Junior Data Analyst - LOCAL | MTL', 'BDP CALL CENTER', 'Vaudreuil-Dorion, QC', 'Vaudreuil-Dorion', 'QC'),
 (2, 'pj_7837ad55c28258ea', 1, 2, 'Pipeline Inline-Inspection Data Analyst (ILI Level 2-3)', 'Onstream Pipeline Inspection Services Inc.', 'Calgary, AB', 'Calgary', 'AB'),
 (3, 'p_05719d87a0059bf7', 1, 2, 'Data and Reporting Analyst', 'Nunavut Government', 'Iqaluit, NU', 'Iqaluit', 'NU'),
 (4, 'p_bf4bd5f13d04a674', 1, 2, 'Specialist-Data Visualization', 'Canadian Red Cross', 'Canada', 'Canada', None),
 (5, 'p_13a59e490ff74b5b', 1, 2, 'Irrigation Data Analyst', 'Government of Alberta', 'Lethbridge, AB', 'Lethbridge', 'AB'),
 (6, 'p_342507b44891b778', 1, 2, 'Content Researcher & Analyst', 'Upfeat Media Inc.', 'Remote', 'Remote', None),
 (7, 'p_badd1ceb510f77f0', 1, 2, 'Data Analyst', 'Paradigm Consulting Group', 'Regina, SK', 'Regina', 'SK'),
 (8, 'p_ee7f4d3dae51aa09', 1, 2, 'Enterprise DBA or Data Analyst', 'Finesse-Tech', 'British Columbia', 'British Columbia', None),
 (9, 'pj_e65431d29d17c9f0', 1, 2, 'Business Analyst', 'LENDCARE', 'Pickering, ON', 'Pickering', 'ON'),
 (10, 'pj_341545c1296400eb', 1, 2, 'Junior Business Analyst, Inventory Control (Excel Expert)', 'Toronto Research Chemicals', 'Toronto, ON', 'Toronto', 'ON'),
 (11, 'p_e58d6f89cf5f08cc', 1, 2, 'Group Data Analyst', 'GroupHEALTH Benefit Solutions', 'Surrey, BC', 'Surrey', 'BC'),
 (12, 'pj_f0b375a54e98b0f2', 1, 2, 'Data Analyst/Support Analyst (Bilingual)', 'Motoinsight', 'Toronto, ON', 'Toronto', 'ON'),
 (13, 'pj_75ea8f8e7fe1a077', 1, 2, 'Fenergo Data Analyst', 'Aerotek', 'Toronto, ON', 'Toronto', 'ON'),
 (14, 'p_b5cfd68de25520d9', 1, 2, 'FO 18R - Business Data Analyst', 'BC Public Service', '100 Mile House, BC', '100 Mile House', 'BC'),
 (15, 'p_be48b0ed34115aff', 1, 2, 'Competitive Intelligence Data Analyst - VIE Contract (W/M)', 'Sanofi', 'Laval, QC', 'Laval', 'QC'),
 (16, 'p_6b97dd600f823df0', 1, 2, 'DATA ANALYST', 'Compass Group Canada', 'Calgary, AB', 'Calgary', 'AB'),
 (17, 'p_51adbd4615daf17e', 1, 2, 'Data Analyst', 'University of Saskatchewan', 'Saskatoon, SK', 'Saskatoon', 'SK'),
 (18, 'p_4d2a5694c8fd4690', 1, 2, 'Senior Analyst, Data Insights - Property Claims', 'Aviva', 'Markham, ON', 'Markham', 'ON'),
 (19, 'p_b15d3bb40f078937', 1, 2, 'Analyst Data Integrity - 6 month contract', 'Sobeys', 'Calgary, AB', 'Calgary', 'AB'),
 (20, 'p_803bd3e2565b7a03', 1, 2, 'Data Analyst', 'theScore Inc.', 'Remote', 'Remote', None),
 (21, 'p_cc617ef53f436042', 1, 2, 'Business Systems and Reporting Analyst', 'First Nations Bank of Canada', 'Saskatoon, SK', 'Saskatoon', 'SK'),
 (22, 'pj_4f582a4ef5db5e8c', 1, 2, 'Intermediate Database Analyst', 'PointClickCare', 'Remote', 'Remote', None),
 (23, 'p_0d39670d970efa20', 1, 2, 'Junior Data Analyst', 'GroupHEALTH Benefit Solutions', 'Surrey, BC', 'Surrey', 'BC'),
 (24, 'p_244e0fc80c1af441', 1, 2, 'Data Analyst (w/SQL)', 'J.D. Power', 'Ontario', 'Ontario', None),
 (25, 'p_637b0b34841c500f', 1, 2, 'Analyste de données / Data Analyst', 'Norton Rose Fulbright', 'Quebec City, QC', 'Quebec City', 'QC'),
 (26, 'p_f65b7e2e93a9ea22', 1, 2, 'Investor Relations Analyst, ESG & Data', 'opentext', 'Remote', 'Remote', None),
 (27, 'p_0bb44eee5f5cca5d', 1, 2, 'Data Analyst', 'Prodigy Systems Inc.', 'Toronto, ON', 'Toronto', 'ON'),
 (28, 'p_41017074c9e52a67', 1, 2, 'Data Analyst, Course Evaluations', 'University of Toronto', 'Toronto, ON', 'Toronto', 'ON'),
 (29, 'p_2ff2228d34513935', 1, 2, 'Data Analyst - Contract position (Open Ended)', 'resulta', 'Bedford, QC', 'Bedford', 'QC'),
 (30, 'p_52df01128134e3f6', 1, 2, 'Data Science Analyst (Remote)', 'Yelp', 'Remote', 'Remote', None),
 (31, 'p_ef38416931de3dc1', 1, 2, 'Data Analyst', 'Toronto Transit Commission', 'Toronto, ON', 'Toronto', 'ON'),
 (32, 'p_f789dfe5190dd889', 1, 2, 'Data Quality Analyst Summer Co-op 2021', 'RBC', 'Ontario', 'Ontario', None),
 (33, 'p_0d340d205d5c02cb', 1, 2, 'data warehouse analyst', '1st Call Industrial Ltd.', 'Mississauga, ON', 'Mississauga', 'ON'),
 (34, 'p_de6ee53c2fc63a3c', 1, 2, 'Senior Data Analyst', 'resulta', 'Bedford, QC', 'Bedford', 'QC'),
 (35, 'p_ab511e3ea34b877b', 1, 2, 'Information and Data Analyst, Population Health Observatory', 'Fraser Health', 'Surrey, BC', 'Surrey', 'BC'),
 (36, 'p_7faa01a2aa479774', 1, 2, 'Data Governance Analyst', 'Pacific Data Integrators', 'Toronto, ON', 'Toronto', 'ON'),
 (37, 'p_54ba69c3cabba411', 1, 2, 'Crime Analyst', 'Regina Police Service', 'Regina, SK', 'Regina', 'SK'),
 (38, 'p_7c6ccdaef3b15fe3', 1, 2, 'Data Analyst', 'Veem', 'Ottawa, ON', 'Ottawa', 'ON'),
 (39, 'pj_febc885b489207ab', 1, 2, 'Senior Business Intelligence Analyst (B052-20)', 'Legal Aid BC', 'Vancouver, BC', 'Vancouver', 'BC'),
 (40, 'p_5a2a57d3aa226f33', 1, 2, 'Database Analyst', 'SoftSim Technologies', 'Montréal, QC', 'Montréal', 'QC'),
 (41, 'p_bfa221db7deb152c', 1, 2, 'Business Analyst I', 'University of British Columbia', 'Vancouver, BC', 'Vancouver', 'BC'),
 (42, 'p_26d47fee690df6d4', 1, 2, 'Data Analyst', 'Hyper Hippo', 'Vancouver, BC', 'Vancouver', 'BC'),
 (43, 'pj_79853eee0f0d2c99', 1, 2, 'Analyst, Shareholder Advisory', 'AST Trust Company (Canada)', 'Toronto, ON', 'Toronto', 'ON'),
 (44, 'p_5856204cc05b4fa2', 1, 2, 'BI Data Analyst', 'Precision Drilling Corporation', 'Calgary, AB', 'Calgary', 'AB'),
 (45, 'p_48da79915db7db90', 1, 2, 'Senior Analyst', 'Nova Scotia Health Authority', 'Sydney, NS', 'Sydney', 'NS'),
 (46, 'p_a4493582aac8e368', 1, 2, 'Junior Data Analyst - Relational Data Bases', 'GHD', 'Waterloo, ON', 'Waterloo', 'ON'),
 (47, 'p_240c711725fafeb4', 1, 2, 'Data Analyst - eCommerce', 'Best Buy', 'Burnaby, BC', 'Burnaby', 'BC'),
 (48, 'p_d0c4a767399e1675', 1, 2, 'Analyst, Institutional Systems', 'Vanier College', 'Montréal, QC', 'Montréal', 'QC'),
 (49, 'p_8acfa04a61d8b67f', 1, 2, 'Data Management Analyst', 'LAMP Community Health Centre', 'Toronto, ON', 'Toronto', 'ON'),
 (50, 'p_4e82dca4666e13db', 1, 2, 'Senior Data Governance Analyst (Remote)', 'Yelp', 'Remote', 'Remote', None),
 (51, 'p_c2c222261eddd933', 1, 2, 'Analyst', 'McGill University', 'Montréal, QC', 'Montréal', 'QC'),
 (52, 'p_26dab41f37d7d6b1', 1, 2, 'network support analyst', 'Seafair', "St. John's, NL", "St. John's", 'NL'),
 (53, 'p_215a9b0bd45d7d8c', 1, 2, 'Strategic Research Data Analyst', 'University of Ottawa', 'Ottawa, ON', 'Ottawa', 'ON'),
 (54, 'pj_ed630239b0d7a730', 1, 2, 'Junior Decision Support Analyst', 'Reconnect Community Health Services', 'Toronto, ON', 'Toronto', 'ON'),
 (55, 'p_1b1630f411852e85', 1, 2, 'Analyst, Consulting Services & Consumer Insights', 'Loblaw Companies Limited', 'Brampton, ON', 'Brampton', 'ON'),
 (56, 'p_74ec7f6b96ff35bf', 1, 2, 'database analyst', 'Dameng Internet Ltd', 'Halifax, NS', 'Halifax', 'NS'),
 (57, 'p_da0fc3a540b1c778', 1, 2, 'Sr. Business Analyst - Data', 'McAfee', 'Waterloo, ON', 'Waterloo', 'ON'),
 (58, 'p_c181d1c0ef2e48b1', 1, 2, 'STO 21R - Geospatial Analyst', 'BC Public Service', 'Surrey, BC', 'Surrey', 'BC'),
 (59, 'p_11dcb44eedf5733f', 1, 2, 'Siebel Data Analyst', 'General Electric', 'Mississauga, ON', 'Mississauga', 'ON'),
 (60, 'pj_37f1c43db57def5e', 1, 2, 'Business Analyst', 'Greco Aluminum Railings', 'Windsor, ON', 'Windsor', 'ON'),
 (61, 'p_b9d9fbdaaa34eb36', 1, 2, 'Junior Business Analyst', 'Fresh Prep', 'Vancouver, BC', 'Vancouver', 'BC'),
 (62, 'p_e072192ce205ed51', 1, 2, 'Category Analyst', 'Lucros Partners', 'Canada', 'Canada', None),
 (63, 'p_47a250e0d0db31c1', 1, 2, 'SAP Data Analyst', 'IBM', 'Halifax, NS', 'Halifax', 'NS'),
 (64, 'p_957d037a13e92780', 1, 2, 'Data Loss Prevention Analyst', 'Canada Life Assurance Company', 'Montréal, QC', 'Montréal', 'QC'),
 (65, 'p_ba7903f22afe9c8a', 1, 2, 'Data Analyst', 'IQ Hunt', 'Toronto, ON', 'Toronto', 'ON'),
 (66, 'p_979d61222d56dce9', 1, 2, 'Operations Support Analyst', 'Canada Guaranty', 'Canada', 'Canada', None),
 (67, 'p_3ae7a4ef865b8e77', 1, 2, 'database analyst', 'Revolution Capital', 'Woodbridge, ON', 'Woodbridge', 'ON'),
 (68, 'p_fa4cc81f80ca9c1c', 1, 2, 'Business Analyst - Foundry', 'Providence Health Care', 'Vancouver, BC', 'Vancouver', 'BC'),
 (69, 'p_3fac8a6323273a39', 1, 2, 'Data Analyst', 'SharkNinja Operating', 'Montréal, QC', 'Montréal', 'QC'),
 (70, 'p_02c9097ca6189993', 1, 2, 'analyst, database', 'L.A. Groceries', 'Aldouane, NB', 'Aldouane', 'NB'),
 (71, 'p_1fffee020e6874ad', 1, 2, 'Business Analyst', 'ED Modular Inc.', 'Stoney Creek, ON', 'Stoney Creek', 'ON'),
 (72, 'p_b8adea63c0f75ae2', 1, 2, 'Analyst, AMLTF', 'Banque Laurentienne', 'Montréal, QC', 'Montréal', 'QC'),
 (73, 'p_6300a897d23b15b1', 1, 2, 'Senior Analyst, Contract Data Governance', 'Scotiabank', 'Toronto, ON', 'Toronto', 'ON'),
 (74, 'p_a22d6b092ca894c9', 1, 2, 'SAP Master Data Analyst', '7ACRES, Supreme Cannabis Company', 'Tiverton, ON', 'Tiverton', 'ON'),
 (75, 'pj_07c15c579d166a63', 1, 2, 'Global Mobility Analyst', 'Bank of Canada', 'Ottawa, ON', 'Ottawa', 'ON'),
 (76, 'p_ca4da107ae149573', 1, 2, 'Strategy Analyst', 'HomeEquity Bank', 'Toronto, ON', 'Toronto', 'ON'),
 (77, 'p_16c11f1be80f5da7', 1, 2, 'Data Analyst', 'The Delf Group', 'Delta, BC', 'Delta', 'BC'),
 (78, 'p_e108559061c5ef91', 1, 2, 'Data Analyst / Analyste de données', 'Tecsys', 'Westmount, QC', 'Westmount', 'QC'),
 (79, 'p_d4cfa3d750503370', 1, 2, 'Data Dictionary Analyst - Patient Registration', 'Trillium Health Partners', 'Mississauga, ON', 'Mississauga', 'ON'),
 (80, 'p_402d810c3210bf97', 1, 2, 'Research & Data Design Analyst', 'City of Calgary', 'Calgary, AB', 'Calgary', 'AB'),
 (81, 'p_2eb9d8f594a1e7f9', 1, 2, 'Data Analyst', 'HKJ Marketing', 'Richmond, BC', 'Richmond', 'BC'),
 (82, 'p_0af011edd5afa1fd', 1, 2, 'Analyst - Health and Benefits', 'Gras Savoye', 'Calgary, AB', 'Calgary', 'AB'),
 (83, 'p_50174279f82cb6df', 1, 2, 'DATA ANALYST & INTEGRATOR', 'City of Toronto', 'Toronto, ON', 'Toronto', 'ON'),
 (84, 'pj_73183bb5f0e43b8c', 1, 2, 'Sales Support Analyst', 'Ennis Fabrics', 'Edmonton, AB', 'Edmonton', 'AB'),
 (85, 'p_5461730ab6830bff', 1, 2, 'Senior Analyst, Internal Controls (Data)', 'RBC', 'Bedford, NS', 'Bedford', 'NS'),
 (86, 'p_65662fa5e706c2e3', 1, 2, 'Analyst, Data Mining', 'Charles River Laboratories', 'Laval, QC', 'Laval', 'QC'),
 (87, 'p_26440d5e9c26472e', 1, 2, 'database analyst', 'Olivia Marie Gardens Medical Centre Inc', 'Milton, ON', 'Milton', 'ON'),
 (88, 'p_834fb13849446a0f', 1, 2, 'database analyst (DBA)', 'NKN Consultancy', 'Brampton, ON', 'Brampton', 'ON'),
 (89, 'p_046d4c73ef2e3cb5', 1, 2, 'Data Analyst', 'Opta Information Intelligence Corp.', 'Markham, ON', 'Markham', 'ON'),
 (90, 'p_6f722a53ef473b95', 1, 2, 'Digital Analyst', 'Venture Communications', 'Calgary, AB', 'Calgary', 'AB'),
 (91, 'p_76274c179d8e3415', 1, 2, 'Analyst, Vendor Management, Market Data Services - New Grads', 'Scotiabank', 'Toronto, ON', 'Toronto', 'ON'),
 (92, 'p_269b5188bb0d3602', 1, 2, 'Data Analyst - Video Sharing Platform BI', 'MindGeek Careers', 'Montréal, QC', 'Montréal', 'QC'),
 (93, 'p_f480a987c65875d3', 1, 2, 'Data Analyst Career Coach', 'Duke Academy', 'North York, ON', 'North York', 'ON'),
 (94, 'p_ff8456099f7a902c', 1, 2, 'Sr. Analyst, Data Analytics', 'Poshmark', 'Vancouver, BC', 'Vancouver', 'BC'),
 (95, 'p_9a1a9b93f844ce33', 1, 2, 'Inventory Analyst', 'WeedMD Rx Inc.', 'Aylmer, ON', 'Aylmer', 'ON'),
 (96, 'p_8711ae189a727d84', 1, 2, 'Business Intelligence Analyst', 'University of Ottawa', 'Ottawa, ON', 'Ottawa', 'ON'),
 (97, 'p_60c4094ebfb40479', 1, 2, 'Business Intelligence Analyst - SQL Developer', 'dentalcorp', 'Toronto, ON', 'Toronto', 'ON'),
 (98, 'p_ede8e359a40d283c', 1, 2, 'Case Costing Data Analyst', 'William Osler Health Centre', 'Peel, ON', 'Peel', 'ON'),
 (99, 'p_005e5935e8044b08', 1, 2, 'Rewards Analyst (University)', 'Gras Savoye', 'Montréal, QC', 'Montréal', 'QC'),
 (100, 'p_7693d53ac254cfe1', 1, 2, 'ERP PURCHASING ANALYST', 'MineSense Technologies', 'Vancouver, BC', 'Vancouver', 'BC'),
 (101, 'p_556330dae9b11384', 1, 2, 'Researcher And Policy Analyst', "Canadian Teachers' Federation", 'Coquitlam, BC', 'Coquitlam', 'BC'),
 (102, 'p_0cf29e22e28d7346', 1, 2, 'BI Developer', 'AJW Technique', 'Montréal, QC', 'Montréal', 'QC'),
 (103, 'p_58d19e942f87acf8', 1, 2, 'Business Data Analyst', 'University of British Columbia', 'Vancouver, BC', 'Vancouver', 'BC'),
 (104, 'p_be2288b3643c890e', 1, 2, 'Field Data Reporting Analyst', 'CNRL', 'Calgary, AB', 'Calgary', 'AB'),
 (105, 'p_86491410f700e4b1', 1, 2, 'Data Analyst - Immunology', 'Caprion', 'Montréal, QC', 'Montréal', 'QC'),
 (106, 'p_9c305ee5969b1631', 1, 2, 'Compensation / Total Rewards Analyst', 'Compass Group Canada', 'Mississauga, ON', 'Mississauga', 'ON'),
 (107, 'p_82bffe434ab39112', 1, 2, 'Safety Analyst', 'Westcan Bulk Transport Ltd .', 'Edmonton, AB', 'Edmonton', 'AB'),
 (108, 'p_06e41d411ff8b961', 1, 2, 'Business Analyst', 'Amazon FC Slovakia s. r. o', 'Saskatchewan', 'Saskatchewan', None),
 (109, 'pj_8d6bb5d0ff9caf51', 1, 2, 'Analyste BI - BI Analyst', 'Bonduelle', 'Saint-Césaire, QC', 'Saint-Césaire', 'QC'),
 (110, 'p_216cea8e5e57de48', 1, 2, 'database analyst', 'Luvinova Property Management Corporation', 'Haines Junction, YT', 'Haines Junction', 'YT'),
 (111, 'p_607081c1f65a8b19', 1, 2, 'Analyst, Data Insights', 'Salesforce', 'Toronto, ON', 'Toronto', 'ON'),
 (112, 'p_546e17fd989feb41', 1, 2, 'Marketing Data Analyst', 'Ludia', 'Montréal, QC', 'Montréal', 'QC'),
 (113, 'p_9a08bfc6354c9d9e', 1, 2, 'Statistical Analyst', 'Pacific General Underwriting Management Ltd', 'Vancouver, BC', 'Vancouver', 'BC'),
 (114, 'p_95e1c444be8750f2', 1, 2, 'Business Intelligence, Data Analytics & Insights', 'BRP', 'Valcourt, QC', 'Valcourt', 'QC'),
 (115, 'p_a42405c583c91b67', 1, 2, 'Product Analyst', 'Loblaw Companies Limited', 'Brampton, ON', 'Brampton', 'ON'),
 (116, 'p_7553e1198646bbff', 1, 2, 'database analyst', 'Green Bee 3', 'Concord, ON', 'Concord', 'ON'),
 (117, 'p_1b4608cb4abc16f3', 1, 2, 'Business Analyst', 'Paradigm Consulting Group', 'Regina, SK', 'Regina', 'SK'),
 (118, 'p_c0622f895d28aa33', 1, 2, 'Data Analyst', 'Bayshore HealthCare', 'Markham, ON', 'Markham', 'ON'),
 (119, 'p_81bb23e49a91f450', 1, 2, 'Database Analyst', 'Powernode Computer Inc.', 'Markham, ON', 'Markham', 'ON'),
 (120, 'p_53b653515971b3d4', 1, 2, 'Analyst - Health and Benefits', 'Willis Towers Watson', 'Calgary, AB', 'Calgary', 'AB'),
 (121, 'p_1bec2dbca2ca6b33', 1, 2, 'Analyst, Identity Data', 'Loblaw Companies Limited', 'Brampton, ON', 'Brampton', 'ON'),
 (122, 'p_37a0e37eb43af793', 1, 2, 'Pricing Analyst', 'Bunzl Canada', 'Burlington, ON', 'Burlington', 'ON'),
 (123, 'p_fc737cafe274ee2d', 1, 2, 'Project Operations Analyst', 'Resolver', 'Edmonton, AB', 'Edmonton', 'AB'),
 (124, 'p_309082eae8f64f6f', 1, 2, 'Senior Business Analyst', 'Luxoft', 'Toronto, ON', 'Toronto', 'ON'),
 (125, 'p_a51a1a85eac57f47', 1, 2, 'Data Analyst Health Surveillance - BC Centre for Disease Con...', 'PHSA', 'Vancouver, BC', 'Vancouver', 'BC'),
 (126, 'p_8e94466a70d3591a', 1, 2, 'Environmental Sustainability Analyst', 'Sobeys', 'Mississauga, ON', 'Mississauga', 'ON'),
 (127, 'p_fc1458755f9a52f0', 1, 2, 'TABLEAU DEVELOPER (SOPHI)', 'The Globe and Mail', 'Toronto, ON', 'Toronto', 'ON'),
 (128, 'p_1c4ebd39450a80af', 1, 2, 'Customer Insights Analyst', 'Boehringer Ingelheim', 'Burlington, ON', 'Burlington', 'ON'),
 (129, 'p_52ebc98512084c39', 1, 2, 'Project Analyst', 'Shared Health', 'Manitoba', 'Manitoba', None),
 (130, 'p_0489f33069e9d096', 1, 2, 'Technical Business Analyst- Fixed Term Contract', 'United Way Calgary and Area', 'Calgary, AB', 'Calgary', 'AB'),
 (131, 'p_c17876bdf508235e', 1, 2, 'Analyst – Fixed Income, Profit and Loss', 'BMO Financial Group', 'Montréal, QC', 'Montréal', 'QC'),
 (132, 'pj_f5d9c2698dfee24c', 1, 2, 'Workforce Management Analyst', 'StorageVault Canada Inc.', 'Ottawa, ON', 'Ottawa', 'ON'),
 (133, 'p_6458ba21186f76c6', 1, 2, 'Senior Business Analyst', 'Fraser Health', 'Surrey, BC', 'Surrey', 'BC'),
 (134, 'p_005946c2674f0bde', 1, 2, 'Computer Programmer/Analyst', 'Labrador-Grenfell Health', 'St. Anthony, NL', 'St. Anthony', 'NL'),
 (135, 'p_3f94c4470d700625', 1, 2, 'Data Analyst, Product & Operations', 'reebee', 'Kitchener, ON', 'Kitchener', 'ON'),
 (136, 'p_c55a69587e44a7be', 1, 2, 'Catalog Content Analyst', 'Instacart', 'Toronto, ON', 'Toronto', 'ON'),
 (137, 'p_b5030b38c536e6f3', 1, 2, 'Business Analyst I', 'Simon Fraser University', 'Burnaby, BC', 'Burnaby', 'BC'),
 (138, 'p_cc404ca8b4559ebf', 1, 2, 'Data Analyst - Business Intelligence', 'North American Palladium', 'Thunder Bay, ON', 'Thunder Bay', 'ON'),
 (139, 'p_56f4b6ff03821f66', 1, 2, 'BUDGET&FINANCIAL ANALYST (II)', 'McMaster University', 'Hamilton, ON', 'Hamilton', 'ON'),
 (140, 'p_abbded931dbe945d', 1, 2, 'Business Intelligence Developer', 'Inno Foods Inc.', 'Port Coquitlam, BC', 'Port Coquitlam', 'BC'),
 (141, 'p_f4845cab0a21ccbc', 1, 2, 'Croesus - Data analyst', 'Quebec en Mexico', 'Quebec City, QC', 'Quebec City', 'QC'),
 (142, 'p_38e2d5052730c46b', 1, 2, 'Analyst, Payroll/HRM Systems Data', 'ACCOR', 'Toronto, ON', 'Toronto', 'ON'),
 (143, 'p_51deafc623bf9596', 1, 2, 'Fenergo - Data Analyst(Technical)', 'Luxoft', 'Toronto, ON', 'Toronto', 'ON'),
 (144, 'p_f41caed47417b44b', 1, 2, 'Bilingual Analyst, Postsecondary Education and Adult Learnin...', 'THE COUNCIL OF MINISTERS OF EDUCATION, CANADA (CME...', 'Toronto, ON', 'Toronto', 'ON'),
 (145, 'p_cf043f41847b2987', 1, 2, 'Senior Data Loss Monitoring Analyst', 'Scotiabank', 'Scarborough, ON', 'Scarborough', 'ON'),
 (146, 'p_e97733f0b1e1fa02', 1, 2, 'Analyst, Program Management Office', 'Canadian Red Cross', 'Ottawa, ON', 'Ottawa', 'ON'),
 (147, 'p_e214408a08c74629', 1, 2, 'Fuel Pricing Analyst', 'Circle K', 'Moncton, NB', 'Moncton', 'NB'),
 (148, 'p_5b3bbc88ce8b6ce6', 1, 2, 'Field Data Reporting Analyst', 'Canadian Natural', 'Calgary, AB', 'Calgary', 'AB'),
 (149, 'p_88195560f13f7df9', 1, 2, 'BI Developer – ETL Data Warehousing', 'Ubisoft', 'Montréal, QC', 'Montréal', 'QC'),
 (150, 'p_9a414b623e5b98a9', 1, 2, 'Land and Permit Interface Analyst, TMEP (term role)', 'Trans Mountain Corporation Inc.', 'Calgary, AB', 'Calgary', 'AB'),
 (151, 'p_ac702f6351778645', 1, 2, 'Sustainability Analyst', 'The Skyline Group of Companies', 'Guelph, ON', 'Guelph', 'ON'),
 (152, 'p_29163275ce98553a', 1, 2, 'Analyst, Business Systems', 'Fraser Health', 'Surrey, BC', 'Surrey', 'BC'),
 (153, 'p_81b5b9cc9e0d7159', 1, 2, 'Business Analyst', 'ThoughtStorm', 'Vanderhoof, BC', 'Vanderhoof', 'BC'),
 (154, 'p_5a3f0f12c0c94fc3', 1, 2, 'Datorama – Data Analyst - Toronto', 'Capgemini', 'Toronto, ON', 'Toronto', 'ON'),
 (155, 'p_5b3d86010bc8f854', 1, 2, 'Clinical Trials Data Anonymization Analyst', 'IQVIA', 'Ontario', 'Ontario', None),
 (156, 'p_f9c44b4c0f2dfe2b', 1, 2, 'Business Insights Analyst', 'Lundbeck', 'Saint-Laurent, QC', 'Saint-Laurent', 'QC'),
 (157, 'p_a47de9e99fd3f5ad', 1, 2, 'Operations Analyst', 'The Economical Insurance Group', 'Toronto, ON', 'Toronto', 'ON'),
 (158, 'p_d18c60372b81f986', 1, 2, 'Market & Development Analyst', 'Zenterra Developments Ltd.', 'Surrey, BC', 'Surrey', 'BC'),
 (159, 'p_aecad2500c587a76', 1, 2, 'Data Analyst - Fraud Detection', 'MindGeek Careers', 'Montréal, QC', 'Montréal', 'QC'),
 (160, 'p_8256c2df0bd0b57c', 1, 2, 'Business Analyst - Oilfield Drilling & Completion Software', 'Resource Energy Solutions (RES)', 'Calgary, AB', 'Calgary', 'AB'),
 (161, 'p_6d94a19d9d372637', 1, 2, 'Data Analyst', 'Affinity.co', 'Toronto, ON', 'Toronto', 'ON'),
 (162, 'p_da665f600238b70f', 1, 2, 'Reinsurance Analyst- REACH Program (University)- Toronto', 'Gras Savoye', 'Toronto, ON', 'Toronto', 'ON'),
 (163, 'p_e3b1b2062f53e3fe', 1, 2, 'Data Analyst', 'Plooto', 'Toronto, ON', 'Toronto', 'ON'),
 (164, 'p_bb0be8eda88317ed', 1, 2, 'Quality Assurance Analyst', 'Alterna Savings', 'Ottawa, ON', 'Ottawa', 'ON'),

In [22]:
db.execute("SELECT * FROM location").fetchall()

[(0, 2, 'Regina', 'SK', 50.44876, -104.61731),
 (1, 2, 'Vaudreuil-Dorion', 'QC', 45.39715089999999, -74.0254577),
 (2, 2, 'Calgary', 'AB', 51.0534234, -114.0625892),
 (3, 2, 'Iqaluit', 'NU', 63.74944, -68.521857),
 (4, 2, 'Lethbridge', 'AB', 49.694285, -112.85156200000002),
 (5, 2, 'Pickering', 'ON', 43.835765, -79.090576),
 (6, 2, 'Toronto', 'ON', 43.6534817, -79.38393470000001),
 (7, 2, 'Surrey', 'BC', 49.1913033, -122.8491439),
 (8, 2, '100 Mile House', 'BC', 51.6427866, -121.2956943),
 (9, 2, 'Laval', 'QC', 45.575780200000004, -73.7530656),
 (10, 2, 'Saskatoon', 'SK', 52.131802, -106.66076699999999),
 (11, 2, 'Markham', 'ON', 43.85637070000001, -79.3376825),
 (12, 2, 'Quebec City', 'QC', 46.8259601, -71.23522259999999),
 (13, 2, 'Bedford', 'QC', 45.474578799999996, -73.62421040000001),
 (14, 2, 'Mississauga', 'ON', 43.589623100000004, -79.64438790000001),
 (15, 2, 'Ottawa', 'ON', 45.421106, -75.690308),
 (16, 2, 'Vancouver', 'BC', 49.2608724, -123.11395290000002),
 (17, 2, 'Montréal', 'QC', 45.4972159, -73.61036419999999),
 (18, 2, 'Sydney', 'NS', 46.137977, -60.194092000000005),
 (19, 2, 'Waterloo', 'ON', 43.465269899999996, -80.52229609999999),
 (20, 2, 'Burnaby', 'BC', 49.2433804, -122.9725459),
 (21, 2, "St. John's", 'NL', 47.561701, -52.715149),
 (22, 2, 'Brampton', 'ON', 43.6858146, -79.7599337),
 (23, 2, 'Halifax', 'NS', 44.648618, -63.58594870000001),
 (24, 2, 'Windsor', 'ON', 42.317099, -83.0353434),
 (25, 2, 'Woodbridge', 'ON', 43.7848982, -79.59238549999999),
 (26, 2, 'Aldouane', 'NB', 46.7071305, -64.8878256),
 (27, 2, 'Stoney Creek', 'ON', 43.2167722, -79.75675079999999),
 (28, 2, 'Tiverton', 'ON', 44.267641, -81.54336500000001),
 (29, 2, 'Delta', 'BC', 49.0846258, -123.05793840000001),
 (30, 2, 'Westmount', 'QC', 45.485732899999995, -73.5963951),
 (31, 2, 'Richmond', 'BC', 49.163168, -123.13741399999999),
 (32, 2, 'Edmonton', 'AB', 53.535410999999996, -113.50799599999999),
 (33, 2, 'Bedford', 'NS', 44.7303901, -63.6582365),
 (34, 2, 'Milton', 'ON', 43.513671, -79.882817),
 (35, 2, 'North York', 'ON', 43.754326299999995, -79.449117),
 (36, 2, 'Aylmer', 'ON', 42.773227, -80.98365799999999),
 (37, 2, 'Peel', 'ON', 43.684379299999996, -79.6649227),
 (38, 2, 'Coquitlam', 'BC', 49.284295799999995, -122.79328100000001),
 (39, 2, 'Saint-Césaire', 'QC', 45.410502, -73.00415),
 (40, 2, 'Haines Junction', 'YT', 60.7527212, -137.5100384),
 (41, 2, 'Valcourt', 'QC', 45.4937347, -72.3151116),
 (42, 2, 'Concord', 'ON', 43.8006713, -79.4990762),
 (43, 2, 'Burlington', 'ON', 43.3248924, -79.7966835),
 (44, 2, 'St. Anthony', 'NL', 51.3653968, -55.591933499999996),
 (45, 2, 'Kitchener', 'ON', 43.451291, -80.49278149999999),
 (46, 2, 'Thunder Bay', 'ON', 48.406414, -89.259796),
 (47, 2, 'Hamilton', 'ON', 43.2560802, -79.8728583),
 (48, 2, 'Port Coquitlam', 'BC', 49.262164299999995, -122.78054250000001),
 (49, 2, 'Scarborough', 'ON', 43.773077, -79.257774),
 (50, 2, 'Moncton', 'NB', 46.097995000000004, -64.80011),
 (51, 2, 'Guelph', 'ON', 43.5460516, -80.2493276),
 (52, 2, 'Vanderhoof', 'BC', 54.0175289, -124.00766270000001),
 (53, 2, 'Saint-Laurent', 'QC', 45.508877399999996, -73.6875187),
 (54, 2, 'Saint John', 'NB', 45.278752000000004, -66.058044),
 (55, 2, 'Oakville', 'ON', 43.447435999999996, -79.66667199999999),
 (56, 2, 'Sparwood', 'BC', 49.7332695, -114.8858477),
 (57, 2, 'Newmarket', 'ON', 44.056258, -79.461708),
 (58, 2, 'Pointe-Claire', 'QC', 45.4566767, -73.8067442),
 (59, 2, 'Lakeshore', 'ON', 42.3038299, -82.8189267),
 (60, 2, 'Whitehorse', 'YT', 60.721571, -135.054932),
 (61, 2, 'Vaughan', 'ON', 43.7941544, -79.52680229999999),
 (62, 2, 'Mary River', 'NU', 71.32766529999999, -79.3760236),
 (63, 2, 'Grimsby', 'ON', 43.1932094, -79.5606922),
 (64, 2, 'Bowmanville', 'ON', 43.912299499999996, -78.68916750000001),
 (65, 2, 'Victoria', 'BC', 48.4283182, -123.36495330000001),
 (66, 2, 'Etobicoke', 'ON', 43.6435559, -79.56563259999999),
 (67, 2, 'Waterdown', 'ON', 43.3314156, -79.8956803),
 (68, 2, 'York', 'ON', 43.6896191, -79.479188),
 (69, 2, 'Winnipeg', 'MB', 49.8955367, -97.1384584),
 (70, 2, 'Dieppe', 'NB', 46.0945258, -64.7354772),
 (71, 2, 'Kelowna', 'BC', 49.887931, -119.49616200000001),
 (72, 2, 'St. Catharines', 'ON', 43.1579812, -79.2441003),
 (73, 2, 'Strathroy', 'ON', 42.9561795, -81.62202020000001),
 (74, 2, 'Wainwright', 'AB', 52.8374281, -110.8612063),
 (75, 2, 'London', 'ON', 42.9836747, -81.2496068),
 (76, 2, 'Stellarton', 'NS', 45.5574527, -62.659113899999994),
 (77, 2, 'Kirkland', 'QC', 45.4529194, -73.8647559),
 (78, 2, 'Peterborough', 'ON', 44.3048009, -78.31994959999999),
 (79, 2, 'Hiawatha', 'ON', 45.48140720000001, -75.5366323),
 (80, 2, 'Brantford', 'ON', 43.1408157, -80.2631733),
 (81, 2, 'Greater Sudbury', 'ON', 46.49272, -80.99121099999999),
 (82, 2, 'Caledon', 'ON', 43.827060100000004, -79.9061037),
 (83, 2, 'Saint-Hubert', 'QC', 45.5042755, -73.42169759999999),
 (84, 2, 'Orangeville', 'ON', 43.9193171, -80.0973754),
 (85, 2, 'Charlottetown', 'PE', 46.234953000000004, -63.132934999999996),
 (86, 2, 'Boucherville', 'QC', 45.60501970000001, -73.45261440000002),
 (87, 2, 'Richmond Hill', 'ON', 43.880078000000005, -79.439392),
 (88, 2, 'Langley', 'BC', 49.098648700000005, -122.65923259999998),
 (89, 2, 'Pemberton', 'BC', 50.3203804, -122.8080783),
 (90, 2, 'Châteauguay', 'QC', 45.3619066, -73.7524319),
 (91, 2, 'Dorval', 'QC', 45.44530820000001, -73.75108879999999),
 (92, 2, 'Dartmouth', 'NS', 44.679970700000005, -63.57202320000001),
 (93, 2, 'Centretown', 'ON', 45.4163403, -75.6942863),
 (94, 2, 'Belleville', 'ON', 44.163326399999995, -77.3852556),
 (95, 2, 'Gatineau', 'QC', 45.4841214, -75.6813728),
 (96, 2, 'Cambridge', 'ON', 43.3600536, -80.3123023),
 (97, 2, 'Verdun', 'QC', 45.459078000000005, -73.5731774),
 (98, 2, 'Stayner', 'ON', 44.41946420000001, -80.09044509999998),
 (99, 2, 'Sherbrooke', 'QC', 45.403271000000004, -71.889038),
 (100, 2, 'Fredericton', 'NB', 45.966425, -66.645813),
 (101, 2, 'Longueuil', 'QC', 45.5172382, -73.44674659999998),
 (102, 2, 'West Vancouver', 'BC', 49.3311208, -123.1594791),
 (103, 2, 'St. Thomas', 'ON', 42.779022, -81.1929882),
 (104, 2, 'Kirkland Lake', 'ON', 48.154177000000004, -80.031281),
 (105, 2, 'Acheson', 'AB', 53.545914100000005, -113.77157609999999),
 (106, 2, 'New Westminster', 'BC', 49.2067726, -122.9108818),
 (107, 2, 'Midland', 'ON', 44.750147, -79.885712),
 (108, 2, 'Kanata', 'ON', 50.000678, -86.000977),
 (109, 2, 'Barrie', 'ON', 44.389311299999996, -79.6901736),
 (110, 2, 'Essex', 'ON', 42.1744783, -82.8215468),
 (111, 2, 'Niagara-on-the-Lake', 'ON', 43.2556116, -79.07232640000001),
 (112, 2, 'Prince George', 'BC', 53.912864500000005, -122.7453699),
 (113, 2, 'Georgetown', 'ON', 43.6502652, -79.9036058),
 (114, 2, 'Venice', 'AB', 54.69805600000001, -112.147222),
 (115, 2, 'Sioux Lookout', 'ON', 50.113454700000005, -92.1962432),
 (116, 2, 'Ajax', 'ON', 43.8505287, -79.02088140000001),
 (117, 2, 'Chatham-Kent', 'ON', 42.41833, -82.08984170000001),
 (118, 2, 'Kitimat', 'BC', 54.053557700000006, -128.6540519),
 (119, 2, 'North Battleford', 'SK', 52.776185999999996, -108.300476),
 (120, 2, 'Ermineskin 138', 'AB', 53.4577179, -113.50537800000001),
 (121, 2, 'Port Hope', 'ON', 43.9515755, -78.2939704),
 (122, 2, 'Steinbach', 'MB', 49.530557, -96.69341999999999),
 (123, 2, 'Westlock', 'AB', 54.1525241, -113.8519902),
 (124, 2, 'Enterprise', 'NB', 46.959120299999995, -67.3868254),
 (125, 2, 'Abbotsford', 'BC', 49.0521162, -122.32947920000001),
 (126, 2, 'Blacks Harbour', 'NB', 45.058501, -66.7900104),
 (127, 2, 'Creston', 'BC', 49.0971526, -116.51297590000001),
 (128, 2, 'Chilliwack', 'BC', 49.157677, -121.9514307),
 (129, 2, 'North Vancouver', 'BC', 49.320713299999994, -123.0737831),
 (130, 2, 'Tecumseh', 'ON', 42.3117951, -82.8861974),
 (131, 2, 'Greater Toronto Area', 'ON', 43.7540261, -79.27596070000001),
 (132, 2, 'Bruxelles', 'MB', 49.487322, -98.918504),
 (133, 2, 'Lucknow', 'ON', 43.961847999999996, -81.5172512),
 (134, 2, 'Simcoe', 'ON', 42.8372434, -80.3039146),
 (135, 2, 'Mont-Saint-Hilaire', 'QC', 45.5623512, -73.1918864),
 (136, 2, 'Salmon Arm', 'BC', 50.7005059, -119.27905290000001),
 (137, 2, 'Middleton', 'NS', 44.942431, -65.0680746),
 (138, 2, 'Norfolk County', 'ON', 42.797153200000004, -80.4538365),
 (139, 2, 'Stony Rapids', 'SK', 59.259775, -105.8050178),
 (140, 2, 'Iroquois', 'ON', 44.849283500000006, -75.31510829999999),
 (141, 2, 'St. George', 'NB', 45.1275604, -66.8269836),
 (142, 2, 'Dorchester', 'ON', 42.9886863, -81.0586953),
 (143, 2, 'Kingston', 'ON', 44.230686999999996, -76.481323),
 (144, 2, 'Revelstoke', 'BC', 50.998045, -118.1956709),
 (145, 2, 'Whistler', 'BC', 50.1171903, -122.95430220000001),
 (146, 2, 'Buick', 'BC', 56.7584379, -121.2771396),
 (147, 2, 'Thompson', 'MB', 55.743347, -97.86346400000001),
 (148, 2, 'Tilbury', 'ON', 42.2593155, -82.43226820000001),
 (149, 2, 'Teeswater', 'ON', 43.9981333, -81.28661290000001),
 (150, 2, 'Rexdale', 'ON', 43.7213619, -79.5655129),
 (151, 2, 'Come By Chance', 'NL', 47.845963399999995, -53.984436200000005),
 (152, 2, 'Ponoka', 'AB', 52.671778700000004, -113.59943340000001),
 (153, 2, 'Petersburg', 'ON', 43.4135333, -80.6051477),
 (154, 2, 'Airdrie', 'AB', 51.28597, -114.01061999999999),
 (155, 2, 'Leduc', 'AB', 53.2732252, -113.54943200000001),
 (156, 2, 'East York', 'ON', 43.699971000000005, -79.33252),
 (157, 2, 'Pitt Meadows', 'BC', 49.2207623, -122.6901534),
 (158, 2, 'Shawinigan', 'QC', 46.5389609, -72.7467621),
 (159, 2, 'Tillsonburg', 'ON', 42.859494, -80.7265015),
 (160, 2, 'Aldergrove', 'BC', 49.0596635, -122.49223810000001),
 (161, 2, 'Kamloops', 'BC', 50.6758269, -120.33941589999999),
 (162, 2, 'Metro Vancouver Regional District', 'BC', 49.2618661, -122.9555509),
 (163, 2, 'Ingersoll', 'ON', 43.037725, -80.88211),
 (164, 2, 'Labrador City', 'NL', 52.9422944, -66.9177291),
 (165, 2, 'Bath', 'ON', 44.1830254, -76.77565609999999),
 (166, 2, 'Terrace', 'BC', 55.001251, -125.00244099999999),
 (167, 2, 'St. Isidore', 'ON', 45.38561, -74.9057344),
 (168, 2, 'Saanichton', 'BC', 48.5964295, -123.3913348),
 (169, 2, 'Ottawa West', 'ON', 45.421106, -75.690308),
 (170, 2, 'Dollard-Des Ormeaux', 'QC', 45.48423, -73.8064547),
 (171, 2, 'Campbellford', 'ON', 44.3085912, -77.798084),
 (172, 2, 'Borden', 'ON', 43.4423514, -80.4751159),
 (173, 2, 'Stouffville', 'ON', 43.9708746, -79.2500689),
 (174, 2, 'Stratford', 'ON', 43.370089899999996, -80.9818016),
 (175, 4, 'Sydney', 'NSW', -33.8548157, 151.2164539),
 (176, 4, 'Altona North', 'VIC', -37.8378229, 144.8342853),
 (177, 4, 'East Melbourne', 'VIC', -37.812498, 144.9858851),
 (178, 4, 'Melbourne City Centre', 'VIC', -37.814217600000006, 144.9631608),
 (179, 4, 'Canberra', 'ACT', -35.2975906, 149.1012676),
 (180, 4, 'Melbourne', 'VIC', -37.814217600000006, 144.9631608),
 (181, 4, 'Hawthorn East', 'VIC', -37.8313785, 145.04997969999997),
 (182, 4, 'Gold Coast', 'QLD', -28.002373100000003, 153.4145987),
 (183, 4, 'Adelaide Region', 'SA', -22.2146553, 133.9362574),
 (184, 4, 'New South', 'Wales', -33.9175545, 151.2291515),
 (185, 4, 'Brisbane', 'QLD', -27.468968199999996, 153.02349909999998),
 (186, 4, 'Toowoomba', 'QLD', -27.5610193, 151.953351),
 (187, 4, 'Macquarie Park', 'NSW', -33.7814961, 151.1256747),
 (188, 4, 'Sydney Central Business District', 'NSW', -33.8816652, 151.20532509999998),
 (189, 4, 'South Hobart', 'TAS', -42.8960515, 147.3092219),
 (190, 4, 'Barangaroo', 'NSW', -33.861408399999995, 151.20168769999998),
 (191, 4, 'Bella Vista', 'NSW', -33.7416936, 150.95471830000002),
 (192, 4, 'Illawarra', 'NSW', -34.4614505, 150.7904074),
 (193, 4, 'Newstead', 'QLD', -27.4453279, 153.0444763),
 (194, 4, 'North Ryde', 'NSW', -33.797547200000004, 151.127306),
 (195, 4, 'Beacon Hill', 'NSW', -33.751787, 151.26008280000002),
 (196, 4, 'Parramatta', 'NSW', -33.8069697, 151.0213625),
 (197, 4, 'Perth', 'WA', -31.952712100000003, 115.86047959999999),
 (198, 4, 'Docklands', 'VIC', -37.81754229999999, 144.9394923),
 (199, 4, 'North Sydney', 'NSW', -33.835451899999995, 151.2083011),
 (200, 4, 'Botany', 'NSW', -33.947829, 151.1990644),
 (201, 4, 'Seven Hills', 'NSW', -33.7760305, 150.9427044),
 (202, 4, 'Sydney Western Suburbs', 'NSW', -33.9432094, 151.1872575),
 (203, 4, 'Darwin', 'NT', -12.46044, 130.8410469),
 (204, 4, 'Mount Cotton', 'QLD', -27.62, 153.2183333),
 (205, 4, 'South', 'Australia', -30.534366499999997, 135.6301212),
 (206, 4, 'Castle Hill', 'NSW', -33.7315318, 151.0071718),
 (207, 4, 'North Lakes', 'QLD', -27.237822700000002, 153.0183242),
 (208, 4, 'Fairfield', 'NSW', -33.8674403, 150.8893104),
 (209, 4, 'City of Knox', 'VIC', -37.898453, 145.26485630000002),
 (210, 4, 'Dandenong', 'VIC', -37.98749, 145.21479230000003),
 (211, 4, 'Darlinghurst', 'NSW', -33.8783381, 151.219225),
 (212, 4, 'South Yarra', 'VIC', -37.8377695, 144.99185369999998),
 (213, 4, 'Auburn', 'NSW', -33.854570200000005, 151.0255673),
 (214, 4, 'Ryde', 'NSW', -33.8015751, 151.10461840000002),
 (215, 4, 'Surry Hills', 'NSW', -33.8845123, 151.2100301),
 (216, 4, 'Mascot', 'NSW', -33.9289562, 151.1951782),
 (217, 4, 'Rhodes', 'NSW', -33.8290589, 151.08735780000004),
 (218, 4, 'Banyo', 'QLD', -27.3760218, 153.07716340000002),
 (219, 4, 'Nundah', 'QLD', -27.4012298, 153.06037890000002),
 (220, 4, 'Cheltenham', 'VIC', -37.9670081, 145.05469509999998),
 (221, 4, 'Hills District', 'NSW', -33.7428695, 151.082309),
 (222, 4, 'Toowong', 'QLD', -27.4857407, 152.99159430000003),
 (223, 4, 'City of Boroondara', 'VIC', -37.826696500000004, 145.0611952),
 (224, 4, 'Smithfield', 'NSW', -33.8478215, 150.9408736),
 (225, 4, 'Collingwood', 'VIC', -37.802104, 144.98813869999998),
 (226, 4, 'Townsville', 'QLD', -19.2569391, 146.82395369999998),
 (227, 4, 'Paddington', 'NSW', -33.884157200000004, 151.22727659999998),
 (228, 4, 'Doncaster', 'VIC', -37.7848299, 145.1238431),
 (229, 4, 'St Leonards', 'NSW', -33.8225666, 151.1923402),
 (230, 4, 'Clayton', 'VIC', -37.9173212, 145.1304242),
 (231, 4, 'West Melbourne', 'VIC', -37.8106885, 144.920404),
 (232, 4, 'Wynyard', 'TAS', -40.9875424, 145.72822230000003),
 (233, 4, 'Keysborough', 'VIC', -38.005360700000004, 145.1674069),
 (234, 4, 'Fairfield', 'VIC', -37.779193299999996, 145.017005),
 (235, 4, 'Burwood', 'VIC', -37.85566, 145.09844119999997),
 (236, 4, 'South Melbourne', 'VIC', -37.83346029999999, 144.95701880000001),
 (237, 4, 'Sydney Inner Suburbs', 'NSW', -32.939481, 151.66000280000003),
 (238, 4, 'Alexandria', 'NSW', -33.9091568, 151.1921281),
 (239, 4, 'South Brisbane', 'QLD', -27.482134000000002, 153.0223507),
 (240, 4, 'Silverwater', 'NSW', -33.1029115, 151.56008569999997),
 (241, 4, 'Hobart', 'TAS', -42.8825088, 147.3281233),
 (242, 4, 'Adelaide CBD', 'SA', -34.9334734, 138.600575),
 (243, 4, 'Scoresby', 'VIC', -37.902578600000005, 145.21830659999998),
 (244, 4, 'Brisbane Central Business District', 'QLD', -27.458837100000004, 153.0275474),
 (245, 4, 'Gepps Cross', 'SA', -34.8423859, 138.60442709999998),
 (246, 4, 'Linley Point', 'NSW', -33.8272222, 151.15),
 (247, 4, 'Redfern', 'NSW', -33.8931044, 151.20402919999998),
 (248, 4, 'Southbank', 'VIC', -37.825361799999996, 144.96402030000002),
 (249, 4, 'Eight Mile Plains', 'QLD', -27.5779184, 153.092299),
 (250, 4, 'Burnley', 'VIC', -37.8276223, 145.00809119999997),
 (251, 4, 'Bondi', 'NSW', -33.893055600000004, 151.2633333),
 (252, 4, 'Chippendale', 'NSW', -33.886329100000005, 151.19982109999998),
 (253, 4, 'Ravenhall', 'VIC', -37.7754956, 144.73663259999998),
 (254, 4, 'Geelong', 'VIC', -38.1492813, 144.3598269),
 (255, 4, 'Gleniffer', 'NSW', -30.3816667, 152.8844444),
 (256, 4, 'Rocklea', 'QLD', -27.5482033, 153.0115871),
 (257, 4, 'Osborne Park', 'WA', -31.9033165, 115.814291),
 (258, 4, 'Dingley', 'VIC', -37.975576200000006, 145.12564780000002),
 (259, 4, 'Newcastle', 'NSW', -32.9272881, 151.7812534),
 (260, 4, 'Pyrmont', 'NSW', -33.869214500000005, 151.1923633),
 (261, 4, 'Strathfield', 'NSW', -33.8798176, 151.0785246),
 (262, 4, 'The Rocks', 'NSW', -33.859992, 151.2083216),
 (263, 4, 'Richmond', 'VIC', -37.820395500000004, 145.00251530000003),
 (264, 4, 'Matraville', 'NSW', -33.9639325, 151.2334198),
 (265, 4, 'Gladstone', 'QLD', -23.8431724, 151.256132),
 (266, 4, 'Mulgrave', 'VIC', -37.9319869, 145.18179880000002),
 (267, 4, 'Northern', 'Territory', -12.371312800000002, 130.8684098),
 (268, 4, 'Pearce', 'WA', -31.6739604, 116.0175435),
 (269, 4, 'Gregory', 'WA', -28.1945255, 114.26426629999999),
 (270, 4, 'Campbellfield', 'VIC', -37.6641298, 144.959583),
 (271, 4, 'Western', 'Australia', -25.230300500000002, 121.0187246),
 (272, 4, 'Milton', 'NSW', -35.31697929999999, 150.4375645),
 (273, 4, 'Fortitude Valley', 'QLD', -27.4562467, 153.0358184),
 (274, 4, 'Port Hedland', 'WA', -20.894665, 118.51987679999999),
 (275, 4, 'Williamtown', 'NSW', -32.815, 151.84277780000002),
 (276, 4, 'Wollongong', 'NSW', -34.4243941, 150.89385),
 (277, 4, 'Boddington', 'WA', -32.792141, 116.42105819999999),
 (278, 4, 'Lyndhurst', 'VIC', -38.068538399999994, 145.2307493),
 (279, 4, 'Pakenham', 'VIC', -38.0803615, 145.4858119),
 (280, 4, 'Douglas Park', 'NSW', -34.19, 150.7011111),
 (281, 4, 'Pymble', 'NSW', -33.7450185, 151.1424708),
 (282, 4, 'Grafton', 'NSW', -29.69125, 152.9333435),
 (283, 4, 'West Perth', 'WA', -31.9486588, 115.841571),
 (284, 4, 'Pilbara', 'WA', -22.964202899999997, 118.81233470000001),
 (285, 4, 'Lithgow', 'NSW', -33.3201229, 150.1950254),
 (286, 4, 'Mount Waverley', 'VIC', -37.875263700000005, 145.12812580000002),
 (287, 4, 'Spreyton', 'TAS', -41.2218021, 146.3473314),
 (288, 4, 'Newtown', 'NSW', -33.8961132, 151.18018930000002),
 (289, 4, 'Bundall', 'QLD', -28.0112822, 153.40809119999997),
 (290, 4, 'Lindfield', 'NSW', -33.7802907, 151.15958480000003),
 (291, 4, 'Blackburn North', 'VIC', -37.8053801, 145.154324),
 (292, 4, 'Albury', 'NSW', -36.0804766, 146.9162795),
 (293, 4, 'Frankston', 'VIC', -38.1444729, 145.1268808),
 (294, 4, 'Henderson', 'WA', -32.1625849, 115.77793419999999),
 (295, 4, 'Parkville', 'VIC', -37.7871148, 144.9515533),
 (296, 4, 'Moree', 'NSW', -29.4617202, 149.84071530000003),
 (297, 4, 'Alice Springs', 'NT', -23.6983884, 133.8812885),
 (298, 4, 'Darling Downs', 'QLD', -27.117090500000003, 150.89464080000002),
 (299, 4, 'Mornington Peninsula', 'VIC', -38.243315, 145.08854319999998),
 (300, 4, 'Rosebery', 'NSW', -33.918586100000006, 151.204692),
 (301, 4, 'Christmas Creek', 'QLD', -28.173939899999997, 152.9915566),
 (302, 4, 'Warabrook', 'NSW', -32.8870387, 151.70986509999997),
 (303, 4, 'Homebush', 'NSW', -33.860451, 151.0806118),
 (304, 4, 'Inner West', 'NSW', -33.8899775, 151.1453905),
 (305, 4, 'Old Guildford', 'NSW', -33.8636111, 150.9844444),
 (306, 4, 'Edinburgh', 'SA', -34.71913789999999, 138.6350042),
 (307, 4, 'Port Macquarie', 'NSW', -31.4299499, 152.9103525),
 (308, 4, 'Perth Central Business District', 'WA', -31.955123200000003, 115.86789080000001),
 (309, 4, 'Ravensthorpe', 'WA', -33.690132, 120.15937720000001),
 (310, 4, 'Katoomba', 'NSW', -33.713759, 150.3121633),
 (311, 4, 'Barton', 'ACT', -35.3072631, 149.1404986),
 (312, 4, 'Williams Landing', 'VIC', -37.8700305, 144.74696730000002),
 (313, 4, 'Maitland', 'NSW', -32.708177, 151.5268437),
 (314, 4, 'Milton', 'QLD', -27.470019399999995, 153.0037657),
 (315, 4, 'East Perth', 'WA', -31.954340999999996, 115.87788940000002),
 (316, 4, 'Streaky Bay', 'SA', -32.7381247, 134.6157554),
 (317, 4, 'Mandurah', 'WA', -32.6286505, 115.63797520000001),
 (318, 4, 'Melbourne South Eastern Suburbs', 'VIC', -37.8262015, 144.9499793),
 (319, 4, 'Beaconsfield', 'TAS', -41.198107799999995, 146.8145469),
 (320, 4, 'Hopetoun', 'WA', -33.94672979999999, 120.1249342),
 (321, 4, 'Chichester', 'NSW', -32.1985224, 151.6177186),
 (322, 4, 'Deakin', 'VIC', -37.9824458, 145.2108655),
 (323, 4, 'Dee Why', 'NSW', -33.7536635, 151.2899954),
 (324, 4, 'Osterley', 'TAS', -42.34356, 146.74136000000001),
 (325, 4, 'Northam', 'WA', -31.699163000000002, 116.6648507),
 (326, 4, 'Tullamarine', 'VIC', -37.704658, 144.87177319999998),
 (327, 4, 'Artarmon', 'NSW', -33.8094124, 151.18576090000002),

In [23]:
db.execute("SELECT * FROM country").fetchall()

[(0, 1, 'Singapore'),
 (1, 2, 'Canada'),
 (2, 3, 'United States'),
 (3, 4, 'Australia')]

In [24]:
db.execute("SELECT * FROM job").fetchall()

[(0, 1, 'Data Analyst'),
 (1, 2, 'Data Scientist'),
 (2, 3, 'Data Engineer'),
 (3, 4, 'Machine Learning')]

In [25]:
db.execute("SELECT * FROM mentalhealth").fetchall()

[(0, 0, '2014-08-27 11:29:31', 37, 'Female', 3, 'IL', None, 'No', 'Yes', 'Often', '6-25', 'No', 'Yes', 'Yes', 'Not sure', 'No', 'Yes', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'Maybe', 'Yes'),
 (1, 1, '2014-08-27 11:29:37', 44, 'Male', 3, 'IN', None, 'No', 'No', 'Rarely', 'More than 1000', 'No', 'No', "Don't know", 'No', "Don't know", "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'No', 'No', 'No', 'No', "Don't know"),
 (2, 2, '2014-08-27 11:29:44', 32, 'Male', 2, None, None, 'No', 'No', 'Rarely', '6-25', 'No', 'Yes', 'No', 'No', 'No', 'No', "Don't know", 'Somewhat difficult', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No'),
 (3, 4, '2014-08-27 11:30:22', 31, 'Male', 3, 'TX', None, 'No', 'No', 'Never', '100-500', 'Yes', 'Yes', 'Yes', 'No', "Don't know", "Don't know", "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'Yes', 'Yes', "Don't know"),
 (4, 5, '2014-08-27 11:31:22', 33, 'Male', 3, 'TN', None, 'Yes', 'No', 'Sometimes', '6-25', 'No', 'Yes', 'Yes', 'Not sure', 'No', "Don't know", "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'No', 'Maybe', "Don't know"),
 (5, 6, '2014-08-27 11:31:50', 35, 'Female', 3, 'MI', None, 'Yes', 'Yes', 'Sometimes', '1-5', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Somewhat difficult', 'Maybe', 'Maybe', 'Some of them', 'No', 'No', 'No', "Don't know"),
 (6, 7, '2014-08-27 11:32:05', 39, 'Male', 2, None, None, 'No', 'No', 'Never', '1-5', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', "Don't know", 'No', 'No', 'No', 'No', 'No', 'No', 'No'),
 (7, 8, '2014-08-27 11:32:39', 42, 'Female', 3, 'IL', None, 'Yes', 'Yes', 'Sometimes', '100-500', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Very difficult', 'Maybe', 'No', 'Yes', 'Yes', 'No', 'Maybe', 'No'),
 (8, 9, '2014-08-27 11:32:43', 23, 'Male', 2, None, None, 'No', 'No', 'Never', '26-100', 'No', 'Yes', "Don't know", 'No', "Don't know", "Don't know", "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', 'Yes'),
 (9, 10, '2014-08-27 11:32:44', 31, 'Male', 3, 'OH', None, 'No', 'Yes', 'Sometimes', '6-25', 'Yes', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (10, 12, '2014-08-27 11:33:23', 42, 'Female', 3, 'CA', None, 'Yes', 'Yes', 'Sometimes', '26-100', 'No', 'No', 'Yes', 'Yes', 'No', 'No', "Don't know", 'Somewhat difficult', 'Yes', 'Yes', 'Yes', 'Yes', 'Maybe', 'Maybe', 'No'),
 (11, 13, '2014-08-27 11:33:26', 36, 'Male', 3, 'CT', None, 'Yes', 'No', 'Never', '500-1000', 'No', 'Yes', "Don't know", 'Not sure', 'No', "Don't know", "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'No', 'No', "Don't know"),
 (12, 14, '2014-08-27 11:33:57', 27, 'Male', 2, None, None, 'No', 'No', 'Never', '6-25', 'No', 'Yes', "Don't know", 'Not sure', "Don't know", "Don't know", "Don't know", 'Somewhat easy', 'No', 'No', 'Some of them', 'Some of them', 'Maybe', 'Yes', 'Yes'),
 (13, 15, '2014-08-27 11:34:00', 29, 'Female', 3, 'IL', None, 'Yes', 'Yes', 'Rarely', '26-100', 'No', 'Yes', 'Yes', 'Not sure', 'No', 'No', "Don't know", 'Somewhat easy', 'No', 'No', 'Yes', 'Some of them', 'Maybe', 'Maybe', "Don't know"),
 (14, 17, '2014-08-27 11:34:37', 32, 'Male', 3, 'TN', None, 'No', 'Yes', 'Sometimes', '6-25', 'No', 'Yes', 'Yes', 'Yes', 'No', "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'No', 'No'),
 (15, 18, '2014-08-27 11:34:53', 46, 'Male', 3, 'MD', 'Yes', 'Yes', 'No', 'Sometimes', '1-5', 'Yes', 'Yes', 'Yes', 'Not sure', 'Yes', "Don't know", 'Yes', 'Very easy', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes'),
 (16, 20, '2014-08-27 11:35:12', 29, 'Male', 3, 'NY', 'No', 'Yes', 'Yes', 'Sometimes', '100-500', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Somewhat difficult', 'Maybe', 'No', 'Some of them', 'Some of them', 'No', 'No', 'No'),
 (17, 21, '2014-08-27 11:35:24', 31, 'Male', 3, 'NC', 'Yes', 'No', 'No', 'Never', '1-5', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'Somewhat difficult', 'No', 'No', 'Some of them', 'Some of them', 'No', 'Maybe', 'Yes'),
 (18, 22, '2014-08-27 11:35:48', 46, 'Male', 3, 'MA', 'No', 'No', 'Yes', 'Often', '26-100', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'Maybe', 'No'),
 (19, 23, '2014-08-27 11:36:24', 41, 'Male', 3, 'IA', 'No', 'No', 'Yes', 'Never', 'More than 1000', 'No', 'No', "Don't know", 'No', 'No', "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'No', 'No', 'No', 'Yes', "Don't know"),
 (20, 24, '2014-08-27 11:36:48', 33, 'Male', 3, 'CA', 'No', 'Yes', 'Yes', 'Rarely', '26-100', 'No', 'Yes', 'Yes', 'Not sure', "Don't know", 'Yes', 'Yes', "Don't know", 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', "Don't know"),
 (21, 25, '2014-08-27 11:37:08', 35, 'Male', 3, 'TN', 'No', 'Yes', 'Yes', 'Sometimes', 'More than 1000', 'No', 'No', 'Yes', 'Yes', 'No', "Don't know", 'No', 'Very easy', 'Yes', 'No', 'Some of them', 'Yes', 'No', 'Yes', 'No'),
 (22, 26, '2014-08-27 11:37:23', 33, 'Male', 3, 'TN', 'No', 'No', 'No', None, '1-5', 'No', 'Yes', "Don't know", 'Not sure', 'No', "Don't know", "Don't know", "Don't know", 'Maybe', 'Maybe', 'Some of them', 'No', 'No', 'No', "Don't know"),
 (23, 27, '2014-08-27 11:37:59', 35, 'Female', 3, 'CA', 'No', 'Yes', 'Yes', 'Rarely', '6-25', 'Yes', 'Yes', 'Yes', 'Yes', "Don't know", "Don't know", "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', 'Yes'),
 (24, 28, '2014-08-27 11:38:12', 34, 'Male', 3, 'OH', 'No', 'No', 'Yes', 'Sometimes', '26-100', 'Yes', 'Yes', "Don't know", 'Not sure', 'No', "Don't know", "Don't know", 'Somewhat difficult', 'No', 'No', 'Some of them', 'No', 'No', 'No', 'No'),
 (25, 31, '2014-08-27 11:38:55', 31, 'Male', 3, 'PA', 'Yes', 'Yes', 'No', 'Rarely', '1-5', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', "Don't know", 'Somewhat difficult', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No'),
 (26, 33, '2014-08-27 11:39:36', 42, 'Male', 3, 'WA', 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Very easy', 'Maybe', 'No', 'Some of them', 'Some of them', 'Maybe', 'Yes', "Don't know"),
 (27, 34, '2014-08-27 11:40:51', 40, 'Female', 3, 'WI', 'No', 'No', 'Yes', 'Sometimes', '1-5', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'No', 'No', 'Maybe', 'Yes'),
 (28, 35, '2014-08-27 11:41:17', 27, 'Male', 3, 'NY', 'No', 'No', 'Yes', 'Rarely', '6-25', 'No', 'Yes', 'No', 'Yes', 'No', 'No', "Don't know", 'Very easy', 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', "Don't know"),
 (29, 36, '2014-08-27 11:41:37', 29, 'Male', 2, None, 'No', 'No', 'No', 'Rarely', '1-5', 'No', 'Yes', 'No', 'No', 'No', 'No', "Don't know", 'Very easy', 'Yes', 'Maybe', 'Some of them', 'No', 'No', 'No', "Don't know"),
 (30, 38, '2014-08-27 11:42:08', 50, 'Male', 3, 'IN', 'No', 'No', 'No', None, '100-500', 'No', 'Yes', 'Yes', 'Yes', 'No', "Don't know", "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'No', 'Maybe', "Don't know"),
 (31, 39, '2014-08-27 11:42:15', 35, 'Male', 3, 'TX', 'No', 'No', 'Yes', 'Rarely', 'More than 1000', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Very easy', 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', 'Yes'),
 (32, 41, '2014-08-27 11:42:31', 35, 'Male', 3, 'MI', 'No', 'No', 'No', None, 'More than 1000', 'Yes', 'Yes', 'Yes', 'Not sure', "Don't know", 'Yes', "Don't know", 'Somewhat difficult', 'Yes', 'Yes', 'Some of them', 'No', 'No', 'Maybe', "Don't know"),
 (33, 42, '2014-08-27 11:43:07', 27, 'Male', 2, None, 'No', 'Yes', 'Yes', 'Sometimes', '1-5', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Very difficult', 'Maybe', 'No', 'Some of them', 'No', 'No', 'No', 'Yes'),
 (34, 44, '2014-08-27 11:43:22', 30, 'Male', 3, 'IN', 'No', 'No', 'Yes', 'Sometimes', '26-100', 'No', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", "Don't know", 'No', 'No', 'No', 'No', 'No', 'Maybe', "Don't know"),
 (35, 45, '2014-08-27 11:43:36', 38, 'Female', 3, 'TX', 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'No', 'Yes'),
 (36, 47, '2014-08-27 11:43:48', 34, 'Male', 3, 'TN', 'No', 'No', 'No', None, '6-25', 'No', 'Yes', 'No', 'No', 'No', 'No', "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Yes', "Don't know"),
 (37, 48, '2014-08-27 11:43:56', 26, 'Male', 2, None, 'Yes', 'No', 'No', 'Sometimes', '1-5', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes'),
 (38, 49, '2014-08-27 11:44:43', 30, 'Male', 3, 'IL', 'No', 'Yes', 'Yes', 'Rarely', '26-100', 'No', 'Yes', 'Yes', 'No', 'No', "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (39, 50, '2014-08-27 11:44:55', 22, 'Male', 3, 'TX', 'No', 'Yes', 'Yes', 'Often', '6-25', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Very difficult', 'Maybe', 'No', 'No', 'No', 'No', 'Maybe', "Don't know"),
 (40, 51, '2014-08-27 11:45:32', 33, 'Male', 3, 'UT', 'No', 'No', 'No', None, '100-500', 'Yes', 'Yes', "Don't know", 'Not sure', "Don't know", "Don't know", "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'Maybe', 'Maybe', "Don't know"),
 (41, 52, '2014-08-27 11:45:33', 31, 'Male', 3, None, 'No', 'No', 'No', None, '100-500', 'Yes', 'Yes', "Don't know", 'No', "Don't know", "Don't know", "Don't know", "Don't know", 'Maybe', 'Maybe', 'Some of them', 'Some of them', 'Maybe', 'Maybe', "Don't know"),
 (42, 53, '2014-08-27 11:45:51', 32, 'Male', 3, 'TN', 'No', 'No', 'No', 'Never', '1-5', 'Yes', 'Yes', "Don't know", 'Not sure', 'No', 'No', "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (43, 55, '2014-08-27 11:46:49', 27, 'Male', 3, 'NY', 'No', 'Yes', 'Yes', 'Rarely', '26-100', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', "Don't know", 'Maybe', 'No', 'No', 'No', 'No', 'No', "Don't know"),
 (44, 56, '2014-08-27 11:46:55', 32, 'Male', 3, 'TN', 'No', 'Yes', 'No', None, '6-25', 'Yes', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", 'Somewhat easy', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes'),
 (45, 57, '2014-08-27 11:47:10', 24, 'Male', 3, 'NY', 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'Yes', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", "Don't know", 'No', 'Maybe', 'Some of them', 'Yes', 'Yes', 'Yes', 'No'),
 (46, 58, '2014-08-27 11:47:33', 26, 'Male', 3, 'TN', 'No', 'No', 'No', None, '26-100', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'Maybe', 'Yes', "Don't know"),
 (47, 59, '2014-08-27 11:47:56', 33, 'Male', 2, None, 'No', 'Yes', 'Yes', 'Often', '6-25', 'Yes', 'Yes', "Don't know", 'No', 'No', 'No', 'No', 'Somewhat difficult', 'Yes', 'No', 'No', 'No', 'No', 'Maybe', "Don't know"),
 (48, 60, '2014-08-27 11:48:57', 44, 'Male', 3, 'IA', 'No', 'Yes', 'Yes', 'Sometimes', 'More than 1000', 'No', 'No', 'Yes', 'No', 'No', "Don't know", "Don't know", "Don't know", 'Yes', 'Maybe', 'Some of them', 'No', 'No', 'Maybe', "Don't know"),
 (49, 64, '2014-08-27 11:50:46', 35, 'Male', 2, None, 'No', 'No', 'No', 'Sometimes', '6-25', 'No', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'Maybe', "Don't know"),
 (50, 65, '2014-08-27 11:51:07', 40, 'Male', 3, 'CA', 'No', 'Yes', 'No', 'Sometimes', 'More than 1000', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', "Don't know", "Don't know", 'Yes', 'Maybe', 'Some of them', 'No', 'No', 'No', 'No'),
 (51, 66, '2014-08-27 11:51:34', 23, 'Female', 4, None, 'No', 'Yes', 'Yes', 'Often', '1-5', 'Yes', 'Yes', 'No', 'Not sure', 'No', 'No', "Don't know", 'Very easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'Maybe', 'Yes'),
 (52, 67, '2014-08-27 11:52:07', 36, 'Male', 3, 'TX', 'No', 'No', 'No', 'Sometimes', '100-500', 'Yes', 'Yes', 'Yes', 'No', "Don't know", 'Yes', "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Some of them', 'Maybe', 'Yes', 'Yes'),
 (53, 68, '2014-08-27 11:52:41', 31, 'Female', 3, 'NM', 'No', 'No', 'No', None, '26-100', 'Yes', 'No', "Don't know", 'No', "Don't know", "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'No', 'No', 'Maybe', "Don't know"),
 (54, 69, '2014-08-27 11:52:44', 34, 'Male', 3, 'NY', 'Yes', 'No', 'No', 'Rarely', '1-5', 'Yes', 'Yes', 'No', 'No', 'No', 'No', "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'No', 'No', 'No', "Don't know"),
 (55, 71, '2014-08-27 11:53:25', 34, 'Male', 2, None, 'No', 'No', 'No', 'Never', '6-25', 'No', 'Yes', "Don't know", 'Not sure', "Don't know", "Don't know", "Don't know", 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (56, 72, '2014-08-27 11:54:27', 23, 'Female', 3, 'MA', 'No', 'No', 'No', 'Rarely', 'More than 1000', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Somewhat difficult', 'Maybe', 'No', 'Yes', 'Yes', 'No', 'No', 'No'),
 (57, 74, '2014-08-27 11:56:29', 33, 'Male', 3, 'CA', 'No', 'No', 'No', 'Never', 'More than 1000', 'No', 'Yes', "Don't know", 'Not sure', 'Yes', "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Some of them', 'No', 'Maybe', 'Yes'),
 (58, 76, '2014-08-27 11:57:33', 25, 'Male', 3, 'WA', 'No', 'No', 'No', None, 'More than 1000', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Yes', 'Yes'),
 (59, 77, '2014-08-27 11:57:54', 31, 'Male', 3, 'WA', 'Yes', 'Yes', 'No', 'Sometimes', '1-5', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'Somewhat difficult', 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', 'Yes'),
 (60, 78, '2014-08-27 11:59:31', 32, 'Male', 3, 'UT', 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'Yes', 'Yes', 'No', 'No', 'No', 'No', "Don't know", 'Somewhat difficult', 'Yes', 'No', 'Some of them', 'No', 'No', 'Yes', 'No'),
 (61, 80, '2014-08-27 12:01:50', 38, 'Male', 3, 'NY', 'No', 'Yes', 'No', 'Sometimes', '100-500', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', "Don't know", "Don't know", 'No', 'No', 'Yes', 'Some of them', 'Maybe', 'Maybe', 'Yes'),
 (62, 82, '2014-08-27 12:02:52', 30, 'Male', 2, None, 'No', 'No', 'No', 'Never', '26-100', 'No', 'No', 'No', 'No', 'No', 'No', "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'No', 'No', 'No'),
 (63, 83, '2014-08-27 12:03:30', 27, 'Female', 3, 'NY', 'Yes', 'No', 'Yes', 'Often', '1-5', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Very easy', 'Maybe', 'Maybe', 'Some of them', 'Yes', 'No', 'Maybe', 'Yes'),
 (64, 84, '2014-08-27 12:05:13', 33, 'Male', 3, 'CA', 'No', 'Yes', 'No', 'Never', 'More than 1000', 'No', 'Yes', 'No', 'No', 'No', 'No', "Don't know", "Don't know", 'Yes', 'No', 'No', 'No', 'No', 'Maybe', 'No'),
 (65, 85, '2014-08-27 12:05:37', 31, 'Male', 3, 'TX', 'No', 'No', 'No', None, '26-100', 'No', 'Yes', "Don't know", 'Not sure', 'No', 'No', "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'Maybe', 'Maybe', 'No'),
 (66, 87, '2014-08-27 12:10:43', 34, 'Female', 3, 'OR', 'No', 'Yes', 'Yes', 'Rarely', '500-1000', 'Yes', 'Yes', 'Yes', 'Not sure', 'No', "Don't know", "Don't know", "Don't know", 'Yes', 'Maybe', 'Some of them', 'Some of them', 'No', 'No', "Don't know"),
 (67, 88, '2014-08-27 12:11:00', 29, 'Female', 3, 'FL', 'No', 'No', 'Yes', 'Sometimes', '26-100', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Some of them', 'No', 'Maybe', 'No'),
 (68, 89, '2014-08-27 12:11:07', 32, 'Male', 3, 'IL', 'No', 'No', 'No', None, '500-1000', 'No', 'Yes', "Don't know", 'No', 'No', "Don't know", "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Some of them', 'No', 'No', "Don't know"),
 (69, 90, '2014-08-27 12:12:47', 31, 'Male', 3, 'NY', 'No', 'No', 'No', 'Never', '500-1000', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'No', 'Yes'),
 (70, 91, '2014-08-27 12:13:30', 40, 'Male', 3, 'TX', 'No', 'No', 'Yes', 'Sometimes', '26-100', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Very difficult', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No'),
 (71, 92, '2014-08-27 12:14:13', 34, 'Male', 3, 'OH', 'No', 'No', 'No', None, '26-100', 'No', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", 'Somewhat easy', 'Maybe', 'No', 'Some of them', 'No', 'No', 'Maybe', "Don't know"),
 (72, 94, '2014-08-27 12:15:19', 25, 'Female', 2, None, 'No', 'No', 'Yes', 'Sometimes', '26-100', 'No', 'Yes', 'Yes', 'Yes', 'No', "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'Maybe', "Don't know"),
 (73, 95, '2014-08-27 12:15:30', 29, 'Male', 3, 'MN', 'No', 'No', 'No', 'Never', '26-100', 'No', 'Yes', "Don't know", 'No', 'No', "Don't know", "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', 'No'),
 (74, 96, '2014-08-27 12:16:21', 24, 'Male', 3, 'MO', 'No', 'Yes', 'No', 'Rarely', '26-100', 'No', 'Yes', "Don't know", 'Not sure', 'No', "Don't know", "Don't know", 'Somewhat easy', 'Maybe', 'Maybe', 'Some of them', 'No', 'No', 'Maybe', "Don't know"),
 (75, 98, '2014-08-27 12:18:02', 33, 'Male', 3, 'AZ', 'No', 'No', 'Yes', 'Sometimes', '6-25', 'No', 'Yes', 'No', 'Yes', 'No', 'No', "Don't know", 'Somewhat easy', 'Maybe', 'No', 'Some of them', 'No', 'No', 'Maybe', 'No'),
 (76, 99, '2014-08-27 12:18:04', 30, 'Male', 3, 'IN', 'No', 'No', 'Yes', 'Often', '1-5', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Somewhat easy', 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', 'Yes'),
 (77, 100, '2014-08-27 12:18:14', 26, 'Female', 2, None, 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'Very difficult', 'Yes', 'No', 'No', 'No', 'No', 'Maybe', 'No'),
 (78, 101, '2014-08-27 12:18:38', 44, 'Female', 3, 'MA', 'No', 'No', 'No', 'Never', '100-500', 'No', 'Yes', 'Yes', 'Not sure', "Don't know", "Don't know", "Don't know", "Don't know", 'Maybe', 'Maybe', 'No', 'Some of them', 'No', 'No', "Don't know"),
 (79, 102, '2014-08-27 12:19:52', 25, 'Male', 3, 'NY', 'No', 'Yes', 'No', None, '26-100', 'No', 'Yes', "Don't know", 'No', "Don't know", "Don't know", "Don't know", 'Very easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (80, 103, '2014-08-27 12:20:10', 33, 'Male', 3, 'WI', 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'Maybe', 'Maybe', 'Yes'),
 (81, 104, '2014-08-27 12:22:55', 29, 'Male', 3, 'NY', 'No', 'No', 'No', 'Never', 'More than 1000', 'No', 'Yes', 'Yes', 'Not sure', 'Yes', "Don't know", "Don't know", 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (82, 105, '2014-08-27 12:23:48', 35, 'Male', 3, 'MO', 'No', 'Yes', 'No', 'Rarely', '6-25', 'No', 'Yes', 'Yes', 'Not sure', 'No', 'No', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (83, 106, '2014-08-27 12:23:59', 35, 'Male', 3, 'OR', 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'Yes', 'Yes', "Don't know", 'Not sure', 'No', 'No', "Don't know", 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'Maybe', 'No'),
 (84, 108, '2014-08-27 12:28:12', 34, 'Male', 3, 'TN', 'No', 'Yes', 'No', 'Never', '6-25', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', "Don't know", "Don't know", 'Maybe', 'No', 'No', 'No', 'No', 'No', "Don't know"),
 (85, 109, '2014-08-27 12:28:16', 32, 'Male', 3, 'WA', 'No', 'No', 'Yes', 'Sometimes', '26-100', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Somewhat difficult', 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'Maybe', 'Yes'),
 (86, 110, '2014-08-27 12:29:25', 22, 'Male', 3, 'NY', 'No', 'No', 'Yes', 'Sometimes', '500-1000', 'No', 'Yes', 'Yes', 'Yes', 'No', "Don't know", 'Yes', "Don't know", 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'No'),
 (87, 111, '2014-08-27 12:31:02', 28, 'Male', 3, 'CA', 'No', 'No', 'Yes', 'Sometimes', '26-100', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Some of them', 'No', 'Maybe', 'Yes'),

In [26]:
db.execute("SELECT * FROM instituition").fetchall()

[(0, 0, 'Harvard University', 1, 3, 1, 7, 9, 1, 1, 1, 1, None, 5, 100.0, 2012),
 (1, 1, 'Massachusetts Institute of Technology', 2, 3, 2, 9, 17, 3, 12, 4, 4, None, 1, 91.67, 2012),
 (2, 2, 'Stanford University', 3, 3, 3, 17, 11, 5, 4, 2, 2, None, 15, 89.5, 2012),
 (3, 4, 'California Institute of Technology', 5, 3, 4, 2, 29, 7, 37, 22, 22, None, 18, 85.21, 2012),
 (4, 5, 'Princeton University', 6, 3, 5, 8, 14, 2, 53, 33, 26, None, 101, 82.5, 2012),
 (5, 7, 'Yale University', 8, 3, 6, 14, 31, 12, 14, 6, 15, None, 66, 79.14, 2012),
 (6, 8, 'Columbia University', 9, 3, 7, 23, 21, 10, 13, 12, 14, None, 5, 78.86, 2012),
 (7, 9, 'University of California, Berkeley', 10, 3, 8, 16, 52, 6, 6, 5, 3, None, 16, 78.55, 2012),
 (8, 10, 'University of Chicago', 11, 3, 9, 15, 26, 8, 34, 20, 28, None, 101, 73.82, 2012),
 (9, 11, 'Cornell University', 12, 3, 10, 21, 42, 14, 22, 21, 16, None, 10, 73.69, 2012),
 (10, 12, 'University of Pennsylvania', 13, 3, 11, 31, 16, 24, 9, 10, 8, None, 9, 73.64, 2012),
 (11, 14, 'Johns Hopkins University', 15, 3, 12, 34, 77, 20, 11, 9, 9, None, 7, 66.94, 2012),
 (12, 18, 'University of California, Los Angeles', 19, 3, 13, 62, 59, 23, 3, 11, 6, None, 13, 64.05, 2012),
 (13, 19, 'University of California, San Diego', 20, 3, 14, 61, 101, 15, 10, 8, 10, None, 22, 63.11, 2012),
 (14, 20, 'Rockefeller University', 21, 3, 15, 1, 101, 16, 101, 28, 96, None, 101, 61.74, 2012),
 (15, 22, 'New York University', 23, 3, 16, 89, 75, 17, 42, 24, 34, None, 62, 60.55, 2012),
 (16, 23, 'University of California, San Francisco', 24, 3, 17, 101, 101, 21, 19, 3, 13, None, 33, 59.7, 2012),
 (17, 24, 'University of Wisconsin–Madison', 25, 3, 18, 64, 63, 33, 17, 30, 21, None, 21, 59.66, 2012),
 (18, 25, 'University of Illinois at Urbana–Champaign', 26, 3, 19, 82, 101, 18, 35, 71, 39, None, 44, 59.0, 2012),
 (19, 26, 'Duke University', 27, 3, 20, 65, 43, 55, 20, 15, 12, None, 20, 58.37, 2012),
 (20, 28, 'University of Texas Southwestern Medical Center', 29, 3, 21, 19, 101, 32, 101, 43, 84, None, 101, 56.43, 2012),
 (21, 29, 'University of Texas at Austin', 30, 3, 22, 101, 78, 27, 41, 47, 40, None, 57, 56.18, 2012),
 (22, 32, 'Northwestern University', 33, 3, 23, 101, 32, 101, 24, 25, 20, None, 35, 54.4, 2012),
 (23, 33, 'University of Michigan, Ann Arbor', 34, 3, 24, 68, 60, 101, 2, 17, 7, None, 8, 53.72, 2012),
 (24, 34, 'University of Toronto', 35, 2, 1, 101, 101, 34, 7, 14, 18, None, 101, 53.43, 2012),
 (25, 35, 'University of North Carolina at Chapel Hill', 36, 3, 25, 101, 86, 56, 31, 29, 31, None, 29, 53.09, 2012),
 (26, 36, 'Washington University in St. Louis', 37, 3, 26, 74, 62, 101, 32, 18, 30, None, 14, 52.9, 2012),
 (27, 37, 'University of Utah', 38, 3, 27, 92, 101, 41, 74, 52, 67, None, 12, 52.64, 2012),
 (28, 38, 'University of Washington - Seattle', 39, 3, 28, 101, 101, 40, 5, 7, 5, None, 101, 52.25, 2012),
 (29, 39, 'University of California, Santa Barbara', 40, 3, 29, 101, 101, 28, 68, 72, 36, None, 101, 52.15, 2012),
 (30, 40, 'McGill University', 41, 2, 2, 70, 91, 54, 33, 39, 47, None, 101, 51.72, 2012),
 (31, 41, 'Purdue University, West Lafayette', 42, 3, 30, 95, 70, 49, 61, 101, 58, None, 19, 51.66, 2012),
 (32, 42, 'Carnegie Mellon University', 43, 3, 31, 30, 81, 26, 101, 101, 61, None, 101, 51.6, 2012),
 (33, 43, 'University of Southern California', 44, 3, 32, 101, 101, 63, 46, 48, 32, None, 23, 51.38, 2012),
 (34, 44, 'University of California, Davis', 45, 3, 33, 79, 101, 92, 23, 40, 25, None, 32, 51.06, 2012),
 (35, 45, 'University of Colorado Boulder', 46, 3, 34, 83, 88, 48, 71, 54, 56, None, 101, 50.68, 2012),
 (36, 46, 'University of California, Irvine', 47, 3, 35, 101, 101, 38, 59, 57, 52, None, 65, 50.64, 2012),
 (37, 48, 'University of Minnesota, Twin Cities', 49, 3, 36, 101, 101, 85, 18, 31, 17, None, 84, 50.3, 2012),
 (38, 49, 'University of Arizona', 50, 3, 37, 101, 101, 88, 45, 42, 45, None, 27, 50.29, 2012),
 (39, 51, 'Ohio State University, Columbus', 52, 3, 38, 101, 101, 83, 30, 50, 35, None, 54, 49.54, 2012),
 (40, 52, 'University of Rochester', 53, 3, 39, 41, 54, 101, 82, 68, 54, None, 62, 49.51, 2012),
 (41, 54, 'University of Florida', 55, 3, 40, 101, 101, 96, 29, 74, 42, None, 2, 48.8, 2012),
 (42, 56, 'Rice University', 57, 3, 41, 28, 53, 94, 101, 101, 53, None, 101, 48.76, 2012),
 (43, 57, 'Dartmouth College', 58, 3, 42, 27, 13, 101, 101, 101, 101, None, 92, 48.5, 2012),
 (44, 58, 'Vanderbilt University', 59, 3, 43, 80, 72, 101, 50, 35, 49, None, 101, 48.44, 2012),
 (45, 61, 'Boston University', 62, 3, 44, 101, 101, 86, 48, 34, 37, None, 101, 48.31, 2012),
 (46, 63, 'Pennsylvania State University, University Park', 64, 3, 45, 101, 94, 101, 38, 60, 27, None, 99, 48.15, 2012),
 (47, 65, 'Brown University', 66, 3, 46, 49, 37, 65, 101, 73, 92, None, 101, 47.91, 2012),
 (48, 66, 'University of British Columbia', 67, 2, 3, 101, 101, 93, 28, 38, 48, None, 101, 47.74, 2012),
 (49, 67, 'University of Maryland, College Park', 68, 3, 47, 85, 101, 50, 47, 55, 41, None, 101, 47.69, 2012),
 (50, 70, 'University of Pittsburgh - Pittsburgh Campus', 71, 3, 48, 81, 101, 101, 21, 32, 24, None, 61, 47.59, 2012),
 (51, 71, 'Rutgers University-New Brunswick', 72, 3, 49, 101, 101, 59, 80, 83, 72, None, 85, 47.5, 2012),
 (52, 72, 'Texas A&M University, College Station', 73, 3, 50, 101, 101, 46, 58, 101, 80, None, 101, 47.31, 2012),
 (53, 77, 'Case Western Reserve University', 78, 3, 51, 33, 101, 101, 96, 63, 65, None, 101, 46.11, 2012),
 (54, 79, 'Arizona State University', 80, 3, 52, 101, 101, 70, 101, 101, 77, None, 49, 45.7, 2012),
 (55, 80, 'Emory University', 81, 3, 53, 101, 97, 101, 54, 37, 50, None, 46, 45.47, 2012),
 (56, 83, 'University of Virginia', 84, 3, 54, 101, 50, 101, 76, 62, 57, None, 86, 45.2, 2012),
 (57, 85, 'Tufts University', 86, 3, 55, 60, 41, 101, 101, 95, 75, None, 101, 44.91, 2012),
 (58, 86, 'Georgia Institute of Technology', 87, 3, 56, 101, 67, 101, 79, 101, 46, None, 40, 44.71, 2012),
 (59, 91, 'University of Queensland', 92, 4, 1, 101, 101, 101, 67, 90, 89, None, 46, 44.18, 2012),
 (60, 93, 'University of Sydney', 94, 4, 2, 101, 101, 101, 56, 92, 85, None, 69, 44.13, 2012),
 (61, 94, 'Williams College', 95, 3, 57, 18, 15, 101, 101, 101, 101, None, 101, 43.89, 2012),
 (62, 95, 'University of Texas MD Anderson Cancer Center', 96, 3, 58, 101, 101, 101, 95, 46, 66, None, 100, 43.88, 2012),
 (63, 100, 'Harvard University', 1, 3, 1, 1, 1, 1, 1, 1, 1, None, 7, 100.0, 2013),
 (64, 101, 'Stanford University', 2, 3, 2, 11, 2, 4, 6, 2, 2, None, 11, 93.94, 2013),
 (65, 103, 'Massachusetts Institute of Technology', 4, 3, 3, 2, 16, 2, 16, 3, 3, None, 1, 91.45, 2013),
 (66, 105, 'Columbia University', 6, 3, 4, 13, 8, 9, 13, 9, 11, None, 10, 88.21, 2013),
 (67, 106, 'University of California, Berkeley', 7, 3, 5, 6, 28, 6, 8, 6, 4, None, 19, 85.07, 2013),
 (68, 107, 'Princeton University', 8, 3, 6, 4, 14, 3, 58, 35, 27, None, 101, 82.17, 2013),
 (69, 108, 'University of Chicago', 9, 3, 7, 9, 19, 8, 37, 21, 30, None, 101, 79.16, 2013),
 (70, 109, 'Yale University', 10, 3, 8, 10, 25, 13, 20, 12, 22, None, 42, 78.83, 2013),
 (71, 110, 'California Institute of Technology', 11, 3, 9, 5, 101, 7, 38, 24, 25, None, 17, 77.59, 2013),
 (72, 111, 'University of Pennsylvania', 12, 3, 10, 22, 5, 25, 10, 10, 9, None, 14, 77.24, 2013),
 (73, 112, 'Cornell University', 13, 3, 11, 12, 23, 18, 21, 19, 15, None, 7, 76.99, 2013),
 (74, 115, 'University of California, Los Angeles', 16, 3, 12, 38, 35, 12, 5, 15, 6, None, 12, 67.84, 2013),
 (75, 116, 'Johns Hopkins University', 17, 3, 13, 23, 96, 21, 4, 5, 7, None, 2, 65.64, 2013),
 (76, 118, 'New York University', 19, 3, 14, 37, 31, 16, 41, 25, 33, None, 51, 63.99, 2013),
 (77, 119, 'University of California, San Diego', 20, 3, 15, 33, 101, 19, 15, 14, 14, None, 22, 63.12, 2013),
 (78, 121, 'University of California, San Francisco', 22, 3, 16, 101, 101, 22, 23, 4, 18, None, 63, 59.38, 2013),
 (79, 122, 'University of Wisconsin–Madison', 23, 3, 17, 31, 55, 33, 19, 29, 20, None, 30, 58.94, 2013),
 (80, 123, 'University of Illinois at Urbana–Champaign', 24, 3, 18, 65, 101, 20, 33, 66, 34, None, 67, 58.33, 2013),
 (81, 124, 'Duke University', 25, 3, 19, 89, 42, 46, 22, 17, 17, None, 24, 57.72, 2013),
 (82, 125, 'University of Texas at Austin', 26, 3, 20, 101, 56, 24, 46, 84, 37, None, 20, 57.71, 2013),
 (83, 127, 'Northwestern University', 28, 3, 21, 101, 21, 101, 27, 26, 24, None, 30, 56.12, 2013),
 (84, 128, 'University of Toronto', 29, 2, 1, 91, 81, 34, 2, 13, 12, None, 101, 56.11, 2013),
 (85, 130, 'University of Washington - Seattle', 31, 3, 22, 101, 101, 41, 7, 8, 5, None, 51, 55.79, 2013),
 (86, 131, 'University of Michigan, Ann Arbor', 32, 3, 23, 35, 27, 101, 3, 18, 8, None, 6, 55.77, 2013),
 (87, 133, 'University of North Carolina at Chapel Hill', 34, 3, 24, 101, 101, 60, 30, 27, 26, None, 42, 52.87, 2013),
 (88, 136, 'University of California, Santa Barbara', 37, 3, 25, 101, 101, 28, 89, 91, 38, None, 101, 51.67, 2013),
 (89, 137, 'Purdue University, West Lafayette', 38, 3, 26, 95, 39, 52, 71, 101, 65, None, 36, 51.59, 2013),
 (90, 138, 'University of Southern California', 39, 3, 27, 101, 99, 56, 56, 52, 36, None, 40, 51.56, 2013),
 (91, 140, 'University of Colorado Boulder', 41, 3, 28, 82, 84, 38, 75, 68, 54, None, 101, 51.16, 2013),
 (92, 141, 'University of Utah', 42, 3, 29, 101, 101, 42, 93, 61, 85, None, 27, 51.14, 2013),
 (93, 142, 'Rutgers University-New Brunswick', 43, 3, 30, 101, 101, 48, 43, 58, 45, None, 96, 51.09, 2013),
 (94, 143, 'University of Minnesota, Twin Cities', 44, 3, 31, 101, 101, 87, 18, 31, 16, None, 67, 50.98, 2013),
 (95, 145, 'University of Texas Southwestern Medical Center', 46, 3, 32, 46, 101, 29, 101, 28, 82, None, 101, 50.79, 2013),
 (96, 146, 'McGill University', 47, 2, 2, 54, 62, 59, 34, 42, 48, None, 101, 50.77, 2013),
 (97, 148, 'Rockefeller University', 49, 3, 33, 55, 101, 17, 101, 34, 101, None, 101, 50.43, 2013),
 (98, 149, 'Pennsylvania State University, University Park', 50, 3, 34, 101, 72, 101, 29, 54, 23, None, 67, 49.84, 2013),
 (99, 150, 'Carnegie Mellon University', 51, 3, 35, 30, 101, 27, 101, 101, 74, None, 101, 49.56, 2013),
 (100, 151, 'Ohio State University, Columbus', 52, 3, 36, 101, 101, 86, 32, 55, 35, None, 60, 49.41, 2013),
 (101, 152, 'University of California, Davis', 53, 3, 37, 60, 101, 94, 26, 47, 31, None, 90, 49.16, 2013),
 (102, 153, 'Boston University', 54, 3, 38, 101, 69, 88, 54, 37, 41, None, 100, 48.96, 2013),
 (103, 154, 'University of Florida', 55, 3, 39, 101, 101, 98, 35, 92, 42, None, 9, 48.93, 2013),
 (104, 157, 'University of British Columbia', 58, 2, 3, 101, 101, 95, 25, 39, 39, None, 100, 48.51, 2013),
 (105, 158, 'University of Maryland, College Park', 59, 3, 40, 79, 101, 53, 49, 77, 40, None, 101, 48.39, 2013),
 (106, 160, 'Vanderbilt University', 61, 3, 41, 101, 101, 101, 53, 40, 60, None, 40, 47.8, 2013),
 (107, 162, 'Washington University in St. Louis', 63, 3, 42, 101, 101, 101, 36, 20, 32, None, 101, 47.72, 2013),
 (108, 164, 'University of California, Irvine', 65, 3, 43, 101, 101, 39, 69, 67, 61, None, 101, 47.52, 2013),
 (109, 168, 'University of Pittsburgh - Pittsburgh Campus', 69, 3, 44, 80, 101, 101, 24, 33, 28, None, 44, 47.08, 2013),
 (110, 170, 'University of Virginia', 71, 3, 45, 101, 24, 101, 88, 73, 68, None, 63, 46.92, 2013),
 (111, 172, 'Arizona State University', 73, 3, 46, 101, 101, 73, 101, 101, 89, None, 20, 46.72, 2013),
 (112, 175, 'University of Rochester', 76, 3, 47, 63, 80, 101, 101, 86, 66, None, 51, 46.44, 2013),
 (113, 176, 'Brown University', 77, 3, 48, 59, 52, 67, 101, 89, 96, None, 101, 46.43, 2013),
 (114, 177, 'University of Arizona', 78, 3, 49, 101, 101, 90, 60, 57, 49, None, 101, 46.39, 2013),
 (115, 179, 'Texas A&M University, College Station', 80, 3, 50, 101, 101, 50, 72, 101, 88, None, 101, 46.17, 2013),
 (116, 181, 'Dartmouth College', 82, 3, 51, 45, 20, 101, 101, 101, 101, None, 78, 46.04, 2013),
 (117, 184, 'Indiana University - Bloomington', 85, 3, 52, 101, 48, 101, 50, 72, 59, None, 101, 45.71, 2013),
 (118, 186, 'National University of Singapore', 87, 1, 1, 101, 101, 101, 44, 101, 50, None, 27, 45.2, 2013),
 (119, 187, 'University of Texas MD Anderson Cancer Center', 88, 3, 53, 101, 101, 101, 90, 32, 56, None, 101, 45.12, 2013),
 (120, 188, 'Stony Brook University', 89, 3, 54, 101, 101, 68, 101, 101, 98, None, 90, 45.01, 2013),
 (121, 191, 'University of Sydney', 92, 4, 1, 101, 101, 101, 61, 101, 101, None, 48, 44.77, 2013),
 (122, 192, 'Emory University', 93, 3, 55, 101, 101, 101, 66, 41, 53, None, 81, 44.53, 2013),
 (123, 193, 'Rice University', 94, 3, 56, 51, 101, 97, 101, 101, 64, None, 81, 44.53, 2013),
 (124, 195, 'Australian National University', 96, 4, 2, 101, 101, 43, 101, 101, 101, None, 101, 44.5, 2013),
 (125, 196, 'University of Alberta', 97, 2, 4, 101, 101, 101, 68, 101, 92, None, 81, 44.5, 2013),
 (126, 199, 'Georgia Institute of Technology', 100, 3, 57, 101, 85, 101, 97, 101, 43, None, 32, 44.26, 2013),
 (127, 200, 'Harvard University', 1, 3, 1, 1, 1, 1, 1, 1, 1, 1.0, 2, 100.0, 2014),
 (128, 201, 'Stanford University', 2, 3, 2, 11, 2, 4, 5, 3, 3, 4.0, 6, 99.09, 2014),
 (129, 202, 'Massachusetts Institute of Technology', 3, 3, 3, 3, 11, 2, 15, 2, 2, 2.0, 1, 98.69, 2014),
 (130, 205, 'Columbia University', 6, 3, 4, 13, 8, 9, 14, 13, 9, 13.0, 4, 97.41, 2014),
 (131, 206, 'University of California, Berkeley', 7, 3, 5, 4, 22, 6, 7, 4, 3, 7.0, 28, 92.84, 2014),
 (132, 207, 'University of Chicago', 8, 3, 6, 10, 14, 8, 17, 19, 10, 18.0, 149, 92.03, 2014),
 (133, 208, 'Princeton University', 9, 3, 7, 5, 16, 3, 70, 25, 19, 41.0, 204, 88.56, 2014),
 (134, 209, 'Yale University', 10, 3, 8, 9, 25, 11, 18, 7, 32, 19.0, 45, 88.11, 2014),
 (135, 210, 'Cornell University', 11, 3, 9, 12, 18, 19, 23, 15, 23, 23.0, 12, 85.8, 2014),
 (136, 211, 'California Institute of Technology', 12, 3, 10, 6, 303, 7, 48, 6, 16, 24.0, 9, 85.5, 2014),
 (137, 213, 'University of Pennsylvania', 14, 3, 11, 21, 4, 26, 8, 17, 13, 10.0, 28, 79.3, 2014),
 (138, 214, 'University of California, Los Angeles', 15, 3, 12, 27, 27, 12, 6, 14, 7, 6.0, 10, 78.35, 2014),
 (139, 216, 'New York University', 17, 3, 13, 33, 21, 17, 49, 29, 32, 31.0, 48, 72.29, 2014),
 (140, 218, 'Johns Hopkins University', 19, 3, 14, 24, 75, 18, 4, 10, 6, 3.0, 3, 71.17, 2014),
 (141, 219, 'University of California, San Diego', 20, 3, 15, 32, 478, 20, 16, 5, 19, 16.0, 13, 68.36, 2014),
 (142, 220, 'University of Michigan, Ann Arbor', 21, 3, 16, 29, 19, 131, 3, 20, 5, 10.0, 19, 68.27, 2014),
 (143, 222, 'Northwestern University', 23, 3, 17, 151, 13, 105, 28, 32, 25, 27.0, 61, 66.18, 2014),
 (144, 224, 'University of Wisconsin–Madison', 25, 3, 18, 31, 28, 34, 21, 24, 23, 28.0, 28, 65.77, 2014),
 (145, 225, 'Duke University', 26, 3, 19, 65, 30, 49, 22, 23, 13, 15.0, 42, 63.56, 2014),
 (146, 226, 'University of California, San Francisco', 27, 3, 20, 355, 478, 23, 24, 8, 17, 9.0, 57, 63.36, 2014),
 (147, 227, 'University of Illinois at Urbana–Champaign', 28, 3, 21, 34, 80, 21, 36, 45, 38, 68.0, 64, 62.89, 2014),
 (148, 228, 'University of Texas at Austin', 29, 3, 22, 92, 39, 24, 51, 54, 26, 74.0, 45, 62.57, 2014),
 (149, 230, 'University of Toronto', 31, 2, 1, 71, 45, 35, 2, 18, 13, 8.0, 149, 60.87, 2014),
 (150, 231, 'University of Washington - Seattle', 32, 3, 23, 89, 107, 46, 9, 11, 8, 5.0, 54, 60.28, 2014),
 (151, 232, 'Rutgers University-New Brunswick', 33, 3, 24, 91, 33, 31, 52, 47, 38, 51.0, 54, 60.0, 2014),
 (152, 236, 'Rockefeller University', 37, 3, 25, 72, 478, 14, 347, 26, 107, 62.0, 227, 59.49, 2014),
 (153, 240, 'University of Virginia', 41, 3, 26, 194, 17, 117, 93, 71, 55, 89.0, 94, 58.6, 2014),
 (154, 241, 'McGill University', 42, 2, 2, 45, 32, 60, 35, 59, 34, 32.0, 204, 58.39, 2014),
 (155, 243, 'Dartmouth College', 44, 3, 27, 46, 15, 210, 246, 164, 125, 132.0, 74, 58.0, 2014),
 (156, 244, 'University of North Carolina at Chapel Hill', 45, 3, 28, 179, 86, 61, 32, 37, 22, 22.0, 38, 57.51, 2014),
 (157, 245, 'Pennsylvania State University, University Park', 46, 3, 29, 226, 42, 65, 33, 36, 26, 33.0, 100, 57.19, 2014),
 (158, 246, 'Ohio State University, Columbus', 47, 3, 30, 93, 65, 81, 30, 52, 30, 37.0, 38, 57.01, 2014),
 (159, 248, 'University of Minnesota, Twin Cities', 49, 3, 31, 61, 159, 83, 19, 38, 29, 29.0, 68, 56.13, 2014),
 (160, 250, 'University of Southern California', 51, 3, 32, 148, 74, 43, 59, 64, 61, 54.0, 33, 55.7, 2014),
 (161, 251, 'Purdue University, West Lafayette', 52, 3, 33, 81, 52, 54, 72, 87, 73, 121.0, 20, 55.67, 2014),
 (162, 252, 'University of Pittsburgh - Pittsburgh Campus', 53, 3, 34, 76, 195, 210, 25, 58, 21, 24.0, 64, 55.67, 2014),
 (163, 253, 'Carnegie Mellon University', 54, 3, 35, 25, 219, 27, 207, 234, 52, 144.0, 170, 55.3, 2014),
 (164, 256, 'University of California, Davis', 57, 3, 36, 47, 192, 90, 29, 31, 38, 50.0, 68, 55.18, 2014),
 (165, 257, 'Washington University in St. Louis', 58, 3, 37, 96, 145, 112, 39, 21, 34, 19.0, 181, 54.93, 2014),
 (166, 258, 'University of Florida', 59, 3, 38, 212, 299, 95, 34, 70, 52, 63.0, 8, 54.76, 2014),
 (167, 259, 'University of California, Santa Barbara', 60, 3, 39, 124, 252, 28, 105, 53, 48, 56.0, 68, 54.76, 2014),
 (168, 260, 'University of British Columbia', 61, 2, 3, 85, 298, 92, 26, 34, 36, 41.0, 78, 54.75, 2014),
 (169, 261, 'University of Utah', 62, 3, 40, 88, 91, 45, 99, 62, 114, 94.0, 22, 54.67, 2014),
 (170, 262, 'University of Colorado Boulder', 63, 3, 41, 75, 56, 41, 97, 35, 75, 77.0, 128, 54.5, 2014),
 (171, 263, 'University of Notre Dame', 64, 3, 42, 197, 20, 150, 241, 230, 159, 238.0, 307, 54.25, 2014),
 (172, 265, 'University of Texas Southwestern Medical Center', 66, 3, 43, 50, 478, 29, 127, 30, 81, 34.0, 181, 54.07, 2014),
 (173, 266, 'Boston University', 67, 3, 44, 291, 47, 84, 60, 46, 43, 37.0, 227, 53.96, 2014),
 (174, 269, 'University of Arizona', 70, 3, 45, 99, 62, 87, 67, 33, 37, 46.0, 307, 53.77, 2014),
 (175, 270, 'Vanderbilt University', 71, 3, 46, 108, 90, 113, 58, 57, 52, 40.0, 51, 53.69, 2014),
 (176, 273, 'National University of Singapore', 74, 1, 1, 355, 99, 210, 37, 136, 114, 102.0, 23, 53.52, 2014),
 (177, 275, 'University of Maryland, College Park', 76, 3, 47, 63, 198, 51, 57, 49, 38, 73.0, 338, 53.46, 2014),
 (178, 276, 'University of Rochester', 77, 3, 48, 60, 50, 116, 112, 104, 69, 70.0, 76, 53.06, 2014),
 (179, 277, 'Emory University', 78, 3, 49, 355, 97, 210, 66, 65, 73, 37.0, 45, 53.01, 2014),
 (180, 279, 'University of California, Irvine', 80, 3, 50, 217, 478, 42, 76, 48, 48, 51.0, 138, 52.93, 2014),
 (181, 280, 'Brown University', 81, 3, 51, 56, 46, 67, 123, 66, 55, 97.0, 170, 52.92, 2014),
 (182, 282, 'Georgia Institute of Technology', 83, 3, 52, 123, 77, 210, 104, 154, 79, 101.0, 24, 52.74, 2014),
 (183, 283, 'Tufts University', 84, 3, 53, 68, 43, 178, 164, 148, 79, 81.0, 84, 52.71, 2014),
 (184, 294, 'University of Sydney', 95, 4, 1, 127, 158, 162, 50, 117, 61, 94.0, 100, 51.58, 2014),
 (185, 296, 'University of Melbourne', 97, 4, 2, 136, 101, 210, 45, 74, 87, 81.0, 194, 51.43, 2014),
 (186, 301, 'Case Western Reserve University', 102, 3, 54, 44, 208, 189, 134, 97, 60, 70.0, 100, 51.27, 2014),
 (187, 302, 'University of Alberta', 103, 2, 4, 163, 144, 148, 61, 105, 81, 99.0, 84, 51.23, 2014),
 (188, 303, 'University of Texas MD Anderson Cancer Center', 104, 3, 55, 355, 478, 136, 92, 76, 61, 30.0, 78, 51.19, 2014),
 (189, 304, 'Texas A&M University, College Station', 105, 3, 56, 328, 94, 53, 73, 90, 87, 137.0, 280, 51.18, 2014),
 (190, 305, 'Arizona State University', 106, 3, 57, 355, 478, 72, 141, 79, 69, 145.0, 34, 51.14, 2014),
 (191, 307, 'Rice University', 108, 3, 58, 54, 313, 94, 252, 144, 45, 121.0, 61, 50.94, 2014),
 (192, 311, 'Michigan State University', 112, 3, 59, 112, 214, 210, 85, 115, 45, 106.0, 128, 50.69, 2014),
 (193, 312, 'Indiana University - Bloomington', 113, 3, 60, 211, 38, 175, 166, 769, 176, 195.0, 204, 50.53, 2014),
 (194, 314, 'University of Queensland', 115, 4, 3, 265, 295, 134, 75, 96, 125, 102.0, 78, 50.37, 2014),