In [ ]:
# pip install sqlalchemy
# pip install psycopg2

In [26]:
# Import python database driver
import psycopg2

# Import config file for password and username (not commited to Github)
from config import username, password

# Import create_engine and Session to interact with PostGres using Alchemy
from sqlalchemy import create_engine
# from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker


# Import Base and features to create tables using ALchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, ForeignKey, ForeignKeyConstraint
from datetime import datetime

from sqlalchemy.orm import relationship

# Others
import pandas as pd

# Inspect csv files to be inserted into database

In [27]:
main_table_df = pd.read_csv("Transformed Data/AllJobMarket-Transformed.csv")
main_table_df.head()

,job_id,job_title_id,country_id,job_title,company_name,location_id
0,p_ecae2dcad8f17d8b,1,2,Data & Systems Analyst,Protein Industries Canada,161
1,pj_12dccdfbb8ef0da5,1,2,Junior Data Analyst - LOCAL | MTL,BDP CALL CENTER,209
2,pj_7837ad55c28258ea,1,2,Pipeline Inline-Inspection Data Analyst (ILI L...,Onstream Pipeline Inspection Services Inc.,69
3,p_05719d87a0059bf7,1,2,Data and Reporting Analyst,Nunavut Government,106
4,p_bf4bd5f13d04a674,1,2,Specialist-Data Visualization,Canadian Red Cross,72

In [28]:
location_df = pd.read_csv("Transformed Data/Location-coordinates.csv")
location_df.head()

   location_id  country_id              city   state        lat         lng
0          161           2            Regina      SK  50.448760 -104.617310
1          209           2  Vaudreuil-Dorion      QC  45.397151  -74.025458
2           69           2           Calgary      AB  51.053423 -114.062589
3          106           2           Iqaluit      NU  63.749440  -68.521857
4           72           2            Canada  Canada  61.066692 -107.991707

In [29]:
country_df = pd.read_csv("Transformed Data/country.csv")
country_df.head()

   country_id   country_name
0           1      Singapore
1           2         Canada
2           3  United States
3           4      Australia

In [30]:
job_df = pd.read_csv("Transformed Data/job_title.csv")
job_df.head()

   job_title_id         job_title
0             1      Data Analyst
1             2    Data Scientist
2             3     Data Engineer
3             4  Machine Learning

In [31]:
mentalhealth_df = pd.read_csv("Transformed Data/MentalHealth-Transformed.csv")
mentalhealth_df.head()

,sample_id,timestamp,age,gender,country_id,state,self_employed,family_history,treatment,work_interfere,...,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical
0,0,2014-08-27 11:29:31,37,Female,3,IL,NaN,No,Yes,Often,...,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes
1,1,2014-08-27 11:29:37,44,Male,3,IN,NaN,No,No,Rarely,...,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know
2,2,2014-08-27 11:29:44,32,Male,2,NaN,NaN,No,No,Rarely,...,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No
3,4,2014-08-27 11:30:22,31,Male,3,TX,NaN,No,No,Never,...,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know
4,5,2014-08-27 11:31:22,33,Male,3,TN,NaN,Yes,No,Sometimes,...,Don't know,Don't know,Don't know,No,No,Yes,Yes,No,Maybe,Don't know

In [32]:
instituition_df = pd.read_csv("Transformed Data/University-Transformed.csv")
instituition_df.rename(columns = {"Unnamed: 0": "institition_id"}, inplace=True)
instituition_df.head()

,institition_id,institution,world_rank,country_id,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,0,Harvard University,1,3,1,1,1,1,1,1,1,1.0,2,100.00,2014
1,1,Stanford University,2,3,2,11,2,4,5,3,3,4.0,6,99.09,2014
2,2,Massachusetts Institute of Technology,3,3,3,3,11,2,15,2,2,2.0,1,98.69,2014
3,3,Columbia University,6,3,4,13,8,9,14,13,9,13.0,4,97.41,2014
4,4,"University of California, Berkeley",7,3,5,4,22,6,7,4,3,7.0,28,92.84,2014

# Connect to Database and Create Tables

In [33]:
# Create engine as an interface to PostgreSQL database named Project_2_ETL
db_local = f'postgresql://{username}:{password}@localhost:5432/Project_2_ETL'

# An ElephantSQL link was also imported for cloud database access
# db_link = "postgres://irxrnnfx:8E4uvAlptBYdblhx20hS5t_elOsRbOxm@suleiman.db.elephantsql.com:5432/irxrnnfx"
db = create_engine(db_local)

In [34]:
# Declarative_base use used to create classes and tables relative to that base
Base = declarative_base()

In [35]:
# Define mapped classes on the base, and create tables

class Country(Base):  
    __tablename__ = 'country'
    
    country_id = Column(Integer, primary_key=True)
    country_name = Column(String)
    
class Location(Base):  
    __tablename__ = 'location'
    
    location_id = Column(Integer, primary_key=True)
    city = Column(String)
    state = Column(String)
    country_id = Column(Integer, ForeignKey("country.country_id"))
    lat = Column(Float)
    lng = Column(Float)
    
class Main(Base):  
    __tablename__ = 'maintable'
    
    job_id = Column(String, primary_key=True)
    job_title_id = Column(Integer, ForeignKey("job.job_title_id"))
    country_id = Column (Integer, ForeignKey("country.country_id"))
    job_title = Column(String)
    company_name = Column(String)
    location_id = Column (Integer, ForeignKey("location.location_id"))
      
class Job(Base):  
    __tablename__ = 'job'
    
    job_title_id = Column(Integer, primary_key=True)
    job_title = Column(String)
    
class Instituition(Base):  
    __tablename__ = 'instituition'
    
    institition_id = Column(Integer, primary_key=True)
    world_rank = Column(Integer)
    institution = Column(String)
    country_id = Column(Integer, ForeignKey("country.country_id"))
    national_rank = Column(Integer)
    quality_of_education = Column(Integer)
    alumni_employment = Column(Integer)
    quality_of_faculty = Column(Integer)
    publications = Column(Integer)
    influence = Column(Integer)
    citations = Column(Integer)
    broad_impact = Column(Integer)
    patents = Column(Integer)
    score = Column(Float)
    year = Column(Integer)

class Mentalhealth(Base):  
    __tablename__ = 'mentalhealth'   
    
    sample_id = Column(Integer, primary_key=True)
    timestamp = Column(Date)
    age = Column(Integer)
    gender = Column(String)
    country_id = Column(Integer, ForeignKey("country.country_id"))
    state = Column(String)
    self_employed = Column(String)
    family_history = Column(String)
    treatment = Column(String)
    work_interfere = Column(String)
    no_employees = Column(String)
    remote_work = Column(String)
    tech_company = Column(String)
    benefits = Column(String)
    care_options = Column(String)
    wellness_program = Column(String)
    seek_help = Column(String)
    anonymity = Column(String)
    leave = Column(String)
    mental_health_consequence = Column(String)
    phys_health_consequence = Column(String)
    coworkers = Column(String)
    supervisor = Column(String)
    mental_health_interview = Column(String)
    phys_health_interview = Column(String)
    mental_vs_physical = Column(String)

In [36]:
# Create session to talk to the database (instead of direct connect and execute)
# A session is a workspace for your objects, at this point we hasnt opened any connections yet until we commit all changes and close the session
Session = sessionmaker(db)  
session = Session()

In [37]:
# The Table is a member of a larger collection called MetaData
# MetaData has the ability to emit a limited set of schema generation commands to database (ex: Create Table statement)
Base.metadata.create_all(db)

In [38]:
job_df.to_sql('job', con=db, index=False, if_exists='append', method='multi')

In [39]:
country_df.to_sql('country', con=db, index=False, if_exists='append',method='multi')

In [40]:
location_df.to_sql('location', con=db, index=False, if_exists='append', method='multi')

In [41]:
# Push dataframes to tables created on database
main_table_df.to_sql('maintable', con=db, index=False, if_exists='append', method='multi')

In [42]:
mentalhealth_df.to_sql('mentalhealth', con=db, index=False, if_exists='append', method='multi')

In [43]:
instituition_df.to_sql('instituition', con=db, index=False, if_exists='append', method='multi')

In [44]:
# Commit and close session
session.commit()
session.close()

In [45]:
# Check if values are commited successfully
db.execute("SELECT * FROM maintable LIMIT 50").fetchall()

[('p_ecae2dcad8f17d8b', 1, 2, 'Data & Systems Analyst', 'Protein Industries Canada', 161),
 ('pj_12dccdfbb8ef0da5', 1, 2, 'Junior Data Analyst - LOCAL | MTL', 'BDP CALL CENTER', 209),
 ('pj_7837ad55c28258ea', 1, 2, 'Pipeline Inline-Inspection Data Analyst (ILI Level 2-3)', 'Onstream Pipeline Inspection Services Inc.', 69),
 ('p_05719d87a0059bf7', 1, 2, 'Data and Reporting Analyst', 'Nunavut Government', 106),
 ('p_bf4bd5f13d04a674', 1, 2, 'Specialist-Data Visualization', 'Canadian Red Cross', 72),
 ('p_13a59e490ff74b5b', 1, 2, 'Irrigation Data Analyst', 'Government of Alberta', 121),
 ('p_342507b44891b778', 1, 2, 'Content Researcher & Analyst', 'Upfeat Media Inc.', 162),
 ('p_badd1ceb510f77f0', 1, 2, 'Data Analyst', 'Paradigm Consulting Group', 161),
 ('p_ee7f4d3dae51aa09', 1, 2, 'Enterprise DBA or Data Analyst', 'Finesse-Tech', 63),
 ('pj_e65431d29d17c9f0', 1, 2, 'Business Analyst', 'LENDCARE', 152),
 ('pj_341545c1296400eb', 1, 2, 'Junior Business Analyst, Inventory Control (Excel Expert)', 'Toronto Research Chemicals', 205),
 ('p_e58d6f89cf5f08cc', 1, 2, 'Group Data Analyst', 'GroupHEALTH Benefit Solutions', 195),
 ('pj_f0b375a54e98b0f2', 1, 2, 'Data Analyst/Support Analyst (Bilingual)', 'Motoinsight', 205),
 ('pj_75ea8f8e7fe1a077', 1, 2, 'Fenergo Data Analyst', 'Aerotek', 205),
 ('p_b5cfd68de25520d9', 1, 2, 'FO 18R - Business Data Analyst', 'BC Public Service', 43),
 ('p_be48b0ed34115aff', 1, 2, 'Competitive Intelligence Data Analyst - VIE Contract (W/M)', 'Sanofi', 119),
 ('p_6b97dd600f823df0', 1, 2, 'DATA ANALYST', 'Compass Group Canada', 69),
 ('p_51adbd4615daf17e', 1, 2, 'Data Analyst', 'University of Saskatchewan', 174),
 ('p_4d2a5694c8fd4690', 1, 2, 'Senior Analyst, Data Insights - Property Claims', 'Aviva', 126),
 ('p_b15d3bb40f078937', 1, 2, 'Analyst Data Integrity - 6 month contract', 'Sobeys', 69),
 ('p_803bd3e2565b7a03', 1, 2, 'Data Analyst', 'theScore Inc.', 162),
 ('p_cc617ef53f436042', 1, 2, 'Business Systems and Reporting Analyst', 'First Nations Bank of Canada', 174),
 ('pj_4f582a4ef5db5e8c', 1, 2, 'Intermediate Database Analyst', 'PointClickCare', 162),
 ('p_0d39670d970efa20', 1, 2, 'Junior Data Analyst', 'GroupHEALTH Benefit Solutions', 195),
 ('p_244e0fc80c1af441', 1, 2, 'Data Analyst (w/SQL)', 'J.D. Power', 144),
 ('p_637b0b34841c500f', 1, 2, 'Analyste de données / Data Analyst', 'Norton Rose Fulbright', 159),
 ('p_f65b7e2e93a9ea22', 1, 2, 'Investor Relations Analyst, ESG & Data', 'opentext', 162),
 ('p_0bb44eee5f5cca5d', 1, 2, 'Data Analyst', 'Prodigy Systems Inc.', 205),
 ('p_41017074c9e52a67', 1, 2, 'Data Analyst, Course Evaluations', 'University of Toronto', 205),
 ('p_2ff2228d34513935', 1, 2, 'Data Analyst - Contract position (Open Ended)', 'resulta', 55),
 ('p_52df01128134e3f6', 1, 2, 'Data Science Analyst (Remote)', 'Yelp', 162),
 ('p_ef38416931de3dc1', 1, 2, 'Data Analyst', 'Toronto Transit Commission', 205),
 ('p_f789dfe5190dd889', 1, 2, 'Data Quality Analyst Summer Co-op 2021', 'RBC', 144),
 ('p_0d340d205d5c02cb', 1, 2, 'data warehouse analyst', '1st Call Industrial Ltd.', 132),
 ('p_de6ee53c2fc63a3c', 1, 2, 'Senior Data Analyst', 'resulta', 55),
 ('p_ab511e3ea34b877b', 1, 2, 'Information and Data Analyst, Population Health Observatory', 'Fraser Health', 195),
 ('p_7faa01a2aa479774', 1, 2, 'Data Governance Analyst', 'Pacific Data Integrators', 205),
 ('p_54ba69c3cabba411', 1, 2, 'Crime Analyst', 'Regina Police Service', 161),
 ('p_7c6ccdaef3b15fe3', 1, 2, 'Data Analyst', 'Veem', 146),
 ('pj_febc885b489207ab', 1, 2, 'Senior Business Intelligence Analyst (B052-20)', 'Legal Aid BC', 207),
 ('p_5a2a57d3aa226f33', 1, 2, 'Database Analyst', 'SoftSim Technologies', 135),
 ('p_bfa221db7deb152c', 1, 2, 'Business Analyst I', 'University of British Columbia', 207),
 ('p_26d47fee690df6d4', 1, 2, 'Data Analyst', 'Hyper Hippo', 207),
 ('pj_79853eee0f0d2c99', 1, 2, 'Analyst, Shareholder Advisory', 'AST Trust Company (Canada)', 205),
 ('p_5856204cc05b4fa2', 1, 2, 'BI Data Analyst', 'Precision Drilling Corporation', 69),
 ('p_48da79915db7db90', 1, 2, 'Senior Analyst', 'Nova Scotia Health Authority', 196),
 ('p_a4493582aac8e368', 1, 2, 'Junior Data Analyst - Relational Data Bases', 'GHD', 216),
 ('p_240c711725fafeb4', 1, 2, 'Data Analyst - eCommerce', 'Best Buy', 67),
 ('p_d0c4a767399e1675', 1, 2, 'Analyst, Institutional Systems', 'Vanier College', 135),
 ('p_8acfa04a61d8b67f', 1, 2, 'Data Management Analyst', 'LAMP Community Health Centre', 205)]

In [46]:
db.execute("SELECT * FROM location LIMIT 50").fetchall()

[(161, 'Regina', 'SK', 2, 50.44876, -104.61731),
 (209, 'Vaudreuil-Dorion', 'QC', 2, 45.3971509, -74.0254577),
 (69, 'Calgary', 'AB', 2, 51.0534234, -114.0625892),
 (106, 'Iqaluit', 'NU', 2, 63.74944, -68.521857),
 (72, 'Canada', 'Canada', 2, 61.0666922, -107.9917071),
 (121, 'Lethbridge', 'AB', 2, 49.694285, -112.851562),
 (162, 'Remote', 'Remote', 2, 0.0, 0.0),
 (63, 'British Columbia', 'British Columbia', 2, 49.2048182, -122.9061329),
 (152, 'Pickering', 'ON', 2, 43.835765, -79.090576),
 (205, 'Toronto', 'ON', 2, 43.6534817, -79.3839347),
 (195, 'Surrey', 'BC', 2, 49.1913033, -122.8491439),
 (43, '100 Mile House', 'BC', 2, 51.6427866, -121.2956943),
 (119, 'Laval', 'QC', 2, 45.5757802, -73.7530656),
 (174, 'Saskatoon', 'SK', 2, 52.131802, -106.660767),
 (126, 'Markham', 'ON', 2, 43.8563707, -79.3376825),
 (144, 'Ontario', 'Ontario', 2, 44.6600802, -76.4905411),
 (159, 'Quebec City', 'QC', 2, 46.8259601, -71.2352226),
 (55, 'Bedford', 'QC', 2, 45.4745788, -73.6242104),
 (132, 'Mississauga', 'ON', 2, 43.5896231, -79.6443879),
 (146, 'Ottawa', 'ON', 2, 45.421106, -75.690308),
 (207, 'Vancouver', 'BC', 2, 49.2608724, -123.1139529),
 (135, 'Montréal', 'QC', 2, 45.4972159, -73.6103642),
 (196, 'Sydney', 'NS', 2, 46.137977, -60.194092),
 (216, 'Waterloo', 'ON', 2, 43.4652699, -80.5222961),
 (67, 'Burnaby', 'BC', 2, 49.2433804, -122.9725459),
 (185, "St. John's", 'NL', 2, 47.561701, -52.715149),
 (61, 'Brampton', 'ON', 2, 43.6858146, -79.7599337),
 (102, 'Halifax', 'NS', 2, 44.648618, -63.5859487),
 (222, 'Windsor', 'ON', 2, 42.317099, -83.0353434),
 (224, 'Woodbridge', 'ON', 2, 43.7848982, -79.5923855),
 (50, 'Aldouane', 'NB', 2, 46.7071305, -64.8878256),
 (190, 'Stoney Creek', 'ON', 2, 43.2167722, -79.7567508),
 (204, 'Tiverton', 'ON', 2, 44.267641, -81.543365),
 (83, 'Delta', 'BC', 2, 49.0846258, -123.0579384),
 (219, 'Westmount', 'QC', 2, 45.4857329, -73.5963951),
 (165, 'Richmond', 'BC', 2, 49.163168, -123.137414),
 (89, 'Edmonton', 'AB', 2, 53.535411, -113.507996),
 (54, 'Bedford', 'NS', 2, 44.7303901, -63.6582365),
 (131, 'Milton', 'ON', 2, 43.513671, -79.882817),
 (142, 'North York', 'ON', 2, 43.7543263, -79.449117),
 (51, 'Aylmer', 'ON', 2, 42.773227, -80.983658),
 (148, 'Peel', 'ON', 2, 43.6843793, -79.6649227),
 (80, 'Coquitlam', 'BC', 2, 49.2842958, -122.793281),
 (173, 'Saskatchewan', 'Saskatchewan', 2, 53.1869562, -105.7210493),
 (169, 'Saint-Césaire', 'QC', 2, 45.410502, -73.00415),
 (101, 'Haines Junction', 'YT', 2, 60.7527212, -137.5100384),
 (206, 'Valcourt', 'QC', 2, 45.4937347, -72.3151116),
 (79, 'Concord', 'ON', 2, 43.8006713, -79.4990762),
 (66, 'Burlington', 'ON', 2, 43.3248924, -79.7966835),
 (125, 'Manitoba', 'Manitoba', 2, 50.9959116, -98.7987473)]

In [47]:
db.execute("SELECT * FROM country").fetchall()

[(1, 'Singapore'), (2, 'Canada'), (3, 'United States'), (4, 'Australia')]

In [23]:
db.execute("SELECT * FROM job").fetchall()

[(1, 'Data Analyst'),
 (2, 'Data Scientist'),
 (3, 'Data Engineer'),
 (4, 'Machine Learning')]

In [24]:
db.execute("SELECT * FROM mentalhealth LIMIT 50").fetchall()

[(0, datetime.date(2014, 8, 27), 37, 'Female', 3, 'IL', None, 'No', 'Yes', 'Often', '6-25', 'No', 'Yes', 'Yes', 'Not sure', 'No', 'Yes', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'Maybe', 'Yes'),
 (1, datetime.date(2014, 8, 27), 44, 'Male', 3, 'IN', None, 'No', 'No', 'Rarely', 'More than 1000', 'No', 'No', "Don't know", 'No', "Don't know", "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'No', 'No', 'No', 'No', "Don't know"),
 (2, datetime.date(2014, 8, 27), 32, 'Male', 2, None, None, 'No', 'No', 'Rarely', '6-25', 'No', 'Yes', 'No', 'No', 'No', 'No', "Don't know", 'Somewhat difficult', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No'),
 (4, datetime.date(2014, 8, 27), 31, 'Male', 3, 'TX', None, 'No', 'No', 'Never', '100-500', 'Yes', 'Yes', 'Yes', 'No', "Don't know", "Don't know", "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'Yes', 'Yes', "Don't know"),
 (5, datetime.date(2014, 8, 27), 33, 'Male', 3, 'TN', None, 'Yes', 'No', 'Sometimes', '6-25', 'No', 'Yes', 'Yes', 'Not sure', 'No', "Don't know", "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'No', 'Maybe', "Don't know"),
 (6, datetime.date(2014, 8, 27), 35, 'Female', 3, 'MI', None, 'Yes', 'Yes', 'Sometimes', '1-5', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Somewhat difficult', 'Maybe', 'Maybe', 'Some of them', 'No', 'No', 'No', "Don't know"),
 (7, datetime.date(2014, 8, 27), 39, 'Male', 2, None, None, 'No', 'No', 'Never', '1-5', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', "Don't know", 'No', 'No', 'No', 'No', 'No', 'No', 'No'),
 (8, datetime.date(2014, 8, 27), 42, 'Female', 3, 'IL', None, 'Yes', 'Yes', 'Sometimes', '100-500', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Very difficult', 'Maybe', 'No', 'Yes', 'Yes', 'No', 'Maybe', 'No'),
 (9, datetime.date(2014, 8, 27), 23, 'Male', 2, None, None, 'No', 'No', 'Never', '26-100', 'No', 'Yes', "Don't know", 'No', "Don't know", "Don't know", "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', 'Yes'),
 (10, datetime.date(2014, 8, 27), 31, 'Male', 3, 'OH', None, 'No', 'Yes', 'Sometimes', '6-25', 'Yes', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (12, datetime.date(2014, 8, 27), 42, 'Female', 3, 'CA', None, 'Yes', 'Yes', 'Sometimes', '26-100', 'No', 'No', 'Yes', 'Yes', 'No', 'No', "Don't know", 'Somewhat difficult', 'Yes', 'Yes', 'Yes', 'Yes', 'Maybe', 'Maybe', 'No'),
 (13, datetime.date(2014, 8, 27), 36, 'Male', 3, 'CT', None, 'Yes', 'No', 'Never', '500-1000', 'No', 'Yes', "Don't know", 'Not sure', 'No', "Don't know", "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'No', 'No', "Don't know"),
 (14, datetime.date(2014, 8, 27), 27, 'Male', 2, None, None, 'No', 'No', 'Never', '6-25', 'No', 'Yes', "Don't know", 'Not sure', "Don't know", "Don't know", "Don't know", 'Somewhat easy', 'No', 'No', 'Some of them', 'Some of them', 'Maybe', 'Yes', 'Yes'),
 (15, datetime.date(2014, 8, 27), 29, 'Female', 3, 'IL', None, 'Yes', 'Yes', 'Rarely', '26-100', 'No', 'Yes', 'Yes', 'Not sure', 'No', 'No', "Don't know", 'Somewhat easy', 'No', 'No', 'Yes', 'Some of them', 'Maybe', 'Maybe', "Don't know"),
 (17, datetime.date(2014, 8, 27), 32, 'Male', 3, 'TN', None, 'No', 'Yes', 'Sometimes', '6-25', 'No', 'Yes', 'Yes', 'Yes', 'No', "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'No', 'No'),
 (18, datetime.date(2014, 8, 27), 46, 'Male', 3, 'MD', 'Yes', 'Yes', 'No', 'Sometimes', '1-5', 'Yes', 'Yes', 'Yes', 'Not sure', 'Yes', "Don't know", 'Yes', 'Very easy', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes'),
 (20, datetime.date(2014, 8, 27), 29, 'Male', 3, 'NY', 'No', 'Yes', 'Yes', 'Sometimes', '100-500', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Somewhat difficult', 'Maybe', 'No', 'Some of them', 'Some of them', 'No', 'No', 'No'),
 (21, datetime.date(2014, 8, 27), 31, 'Male', 3, 'NC', 'Yes', 'No', 'No', 'Never', '1-5', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'Somewhat difficult', 'No', 'No', 'Some of them', 'Some of them', 'No', 'Maybe', 'Yes'),
 (22, datetime.date(2014, 8, 27), 46, 'Male', 3, 'MA', 'No', 'No', 'Yes', 'Often', '26-100', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'Maybe', 'No'),
 (23, datetime.date(2014, 8, 27), 41, 'Male', 3, 'IA', 'No', 'No', 'Yes', 'Never', 'More than 1000', 'No', 'No', "Don't know", 'No', 'No', "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'No', 'No', 'No', 'Yes', "Don't know"),
 (24, datetime.date(2014, 8, 27), 33, 'Male', 3, 'CA', 'No', 'Yes', 'Yes', 'Rarely', '26-100', 'No', 'Yes', 'Yes', 'Not sure', "Don't know", 'Yes', 'Yes', "Don't know", 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', "Don't know"),
 (25, datetime.date(2014, 8, 27), 35, 'Male', 3, 'TN', 'No', 'Yes', 'Yes', 'Sometimes', 'More than 1000', 'No', 'No', 'Yes', 'Yes', 'No', "Don't know", 'No', 'Very easy', 'Yes', 'No', 'Some of them', 'Yes', 'No', 'Yes', 'No'),
 (26, datetime.date(2014, 8, 27), 33, 'Male', 3, 'TN', 'No', 'No', 'No', None, '1-5', 'No', 'Yes', "Don't know", 'Not sure', 'No', "Don't know", "Don't know", "Don't know", 'Maybe', 'Maybe', 'Some of them', 'No', 'No', 'No', "Don't know"),
 (27, datetime.date(2014, 8, 27), 35, 'Female', 3, 'CA', 'No', 'Yes', 'Yes', 'Rarely', '6-25', 'Yes', 'Yes', 'Yes', 'Yes', "Don't know", "Don't know", "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', 'Yes'),
 (28, datetime.date(2014, 8, 27), 34, 'Male', 3, 'OH', 'No', 'No', 'Yes', 'Sometimes', '26-100', 'Yes', 'Yes', "Don't know", 'Not sure', 'No', "Don't know", "Don't know", 'Somewhat difficult', 'No', 'No', 'Some of them', 'No', 'No', 'No', 'No'),
 (31, datetime.date(2014, 8, 27), 31, 'Male', 3, 'PA', 'Yes', 'Yes', 'No', 'Rarely', '1-5', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', "Don't know", 'Somewhat difficult', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No'),
 (33, datetime.date(2014, 8, 27), 42, 'Male', 3, 'WA', 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Very easy', 'Maybe', 'No', 'Some of them', 'Some of them', 'Maybe', 'Yes', "Don't know"),
 (34, datetime.date(2014, 8, 27), 40, 'Female', 3, 'WI', 'No', 'No', 'Yes', 'Sometimes', '1-5', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'No', 'No', 'Maybe', 'Yes'),
 (35, datetime.date(2014, 8, 27), 27, 'Male', 3, 'NY', 'No', 'No', 'Yes', 'Rarely', '6-25', 'No', 'Yes', 'No', 'Yes', 'No', 'No', "Don't know", 'Very easy', 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', "Don't know"),
 (36, datetime.date(2014, 8, 27), 29, 'Male', 2, None, 'No', 'No', 'No', 'Rarely', '1-5', 'No', 'Yes', 'No', 'No', 'No', 'No', "Don't know", 'Very easy', 'Yes', 'Maybe', 'Some of them', 'No', 'No', 'No', "Don't know"),
 (38, datetime.date(2014, 8, 27), 50, 'Male', 3, 'IN', 'No', 'No', 'No', None, '100-500', 'No', 'Yes', 'Yes', 'Yes', 'No', "Don't know", "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'No', 'Maybe', "Don't know"),
 (39, datetime.date(2014, 8, 27), 35, 'Male', 3, 'TX', 'No', 'No', 'Yes', 'Rarely', 'More than 1000', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Very easy', 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Maybe', 'Yes'),
 (41, datetime.date(2014, 8, 27), 35, 'Male', 3, 'MI', 'No', 'No', 'No', None, 'More than 1000', 'Yes', 'Yes', 'Yes', 'Not sure', "Don't know", 'Yes', "Don't know", 'Somewhat difficult', 'Yes', 'Yes', 'Some of them', 'No', 'No', 'Maybe', "Don't know"),
 (42, datetime.date(2014, 8, 27), 27, 'Male', 2, None, 'No', 'Yes', 'Yes', 'Sometimes', '1-5', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Very difficult', 'Maybe', 'No', 'Some of them', 'No', 'No', 'No', 'Yes'),
 (44, datetime.date(2014, 8, 27), 30, 'Male', 3, 'IN', 'No', 'No', 'Yes', 'Sometimes', '26-100', 'No', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", "Don't know", 'No', 'No', 'No', 'No', 'No', 'Maybe', "Don't know"),
 (45, datetime.date(2014, 8, 27), 38, 'Female', 3, 'TX', 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'No', 'Yes'),
 (47, datetime.date(2014, 8, 27), 34, 'Male', 3, 'TN', 'No', 'No', 'No', None, '6-25', 'No', 'Yes', 'No', 'No', 'No', 'No', "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'Maybe', 'Yes', "Don't know"),
 (48, datetime.date(2014, 8, 27), 26, 'Male', 2, None, 'Yes', 'No', 'No', 'Sometimes', '1-5', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', "Don't know", "Don't know", 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes'),
 (49, datetime.date(2014, 8, 27), 30, 'Male', 3, 'IL', 'No', 'Yes', 'Yes', 'Rarely', '26-100', 'No', 'Yes', 'Yes', 'No', 'No', "Don't know", "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (50, datetime.date(2014, 8, 27), 22, 'Male', 3, 'TX', 'No', 'Yes', 'Yes', 'Often', '6-25', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Very difficult', 'Maybe', 'No', 'No', 'No', 'No', 'Maybe', "Don't know"),
 (51, datetime.date(2014, 8, 27), 33, 'Male', 3, 'UT', 'No', 'No', 'No', None, '100-500', 'Yes', 'Yes', "Don't know", 'Not sure', "Don't know", "Don't know", "Don't know", "Don't know", 'No', 'No', 'Some of them', 'Yes', 'Maybe', 'Maybe', "Don't know"),
 (52, datetime.date(2014, 8, 27), 31, 'Male', 3, None, 'No', 'No', 'No', None, '100-500', 'Yes', 'Yes', "Don't know", 'No', "Don't know", "Don't know", "Don't know", "Don't know", 'Maybe', 'Maybe', 'Some of them', 'Some of them', 'Maybe', 'Maybe', "Don't know"),
 (53, datetime.date(2014, 8, 27), 32, 'Male', 3, 'TN', 'No', 'No', 'No', 'Never', '1-5', 'Yes', 'Yes', "Don't know", 'Not sure', 'No', 'No', "Don't know", "Don't know", 'Maybe', 'No', 'Some of them', 'Yes', 'No', 'No', "Don't know"),
 (55, datetime.date(2014, 8, 27), 27, 'Male', 3, 'NY', 'No', 'Yes', 'Yes', 'Rarely', '26-100', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', "Don't know", 'Maybe', 'No', 'No', 'No', 'No', 'No', "Don't know"),
 (56, datetime.date(2014, 8, 27), 32, 'Male', 3, 'TN', 'No', 'Yes', 'No', None, '6-25', 'Yes', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", 'Somewhat easy', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes'),
 (57, datetime.date(2014, 8, 27), 24, 'Male', 3, 'NY', 'No', 'Yes', 'Yes', 'Sometimes', '26-100', 'Yes', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", "Don't know", 'No', 'Maybe', 'Some of them', 'Yes', 'Yes', 'Yes', 'No'),
 (58, datetime.date(2014, 8, 27), 26, 'Male', 3, 'TN', 'No', 'No', 'No', None, '26-100', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'Maybe', 'Yes', "Don't know"),
 (59, datetime.date(2014, 8, 27), 33, 'Male', 2, None, 'No', 'Yes', 'Yes', 'Often', '6-25', 'Yes', 'Yes', "Don't know", 'No', 'No', 'No', 'No', 'Somewhat difficult', 'Yes', 'No', 'No', 'No', 'No', 'Maybe', "Don't know"),
 (60, datetime.date(2014, 8, 27), 44, 'Male', 3, 'IA', 'No', 'Yes', 'Yes', 'Sometimes', 'More than 1000', 'No', 'No', 'Yes', 'No', 'No', "Don't know", "Don't know", "Don't know", 'Yes', 'Maybe', 'Some of them', 'No', 'No', 'Maybe', "Don't know"),
 (64, datetime.date(2014, 8, 27), 35, 'Male', 2, None, 'No', 'No', 'No', 'Sometimes', '6-25', 'No', 'Yes', "Don't know", 'No', 'No', 'No', "Don't know", 'Somewhat easy', 'No', 'No', 'Some of them', 'Yes', 'No', 'Maybe', "Don't know")]

In [25]:
db.execute("SELECT * FROM instituition LIMIT 50").fetchall()

[(0, 1, 'Harvard University', 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 100.0, 2014),
 (1, 2, 'Stanford University', 3, 2, 11, 2, 4, 5, 3, 3, 4, 6, 99.09, 2014),
 (2, 3, 'Massachusetts Institute of Technology', 3, 3, 3, 11, 2, 15, 2, 2, 2, 1, 98.69, 2014),
 (3, 6, 'Columbia University', 3, 4, 13, 8, 9, 14, 13, 9, 13, 4, 97.41, 2014),
 (4, 7, 'University of California, Berkeley', 3, 5, 4, 22, 6, 7, 4, 3, 7, 28, 92.84, 2014),
 (5, 8, 'University of Chicago', 3, 6, 10, 14, 8, 17, 19, 10, 18, 149, 92.03, 2014),
 (6, 9, 'Princeton University', 3, 7, 5, 16, 3, 70, 25, 19, 41, 204, 88.56, 2014),
 (7, 10, 'Yale University', 3, 8, 9, 25, 11, 18, 7, 32, 19, 45, 88.11, 2014),
 (8, 11, 'Cornell University', 3, 9, 12, 18, 19, 23, 15, 23, 23, 12, 85.8, 2014),
 (9, 12, 'California Institute of Technology', 3, 10, 6, 303, 7, 48, 6, 16, 24, 9, 85.5, 2014),
 (10, 14, 'University of Pennsylvania', 3, 11, 21, 4, 26, 8, 17, 13, 10, 28, 79.3, 2014),
 (11, 15, 'University of California, Los Angeles', 3, 12, 27, 27, 12, 6, 14, 7, 6, 10, 78.35, 2014),
 (12, 17, 'New York University', 3, 13, 33, 21, 17, 49, 29, 32, 31, 48, 72.29, 2014),
 (13, 19, 'Johns Hopkins University', 3, 14, 24, 75, 18, 4, 10, 6, 3, 3, 71.17, 2014),
 (14, 20, 'University of California, San Diego', 3, 15, 32, 478, 20, 16, 5, 19, 16, 13, 68.36, 2014),
 (15, 21, 'University of Michigan, Ann Arbor', 3, 16, 29, 19, 131, 3, 20, 5, 10, 19, 68.27, 2014),
 (16, 23, 'Northwestern University', 3, 17, 151, 13, 105, 28, 32, 25, 27, 61, 66.18, 2014),
 (17, 25, 'University of Wisconsin–Madison', 3, 18, 31, 28, 34, 21, 24, 23, 28, 28, 65.77, 2014),
 (18, 26, 'Duke University', 3, 19, 65, 30, 49, 22, 23, 13, 15, 42, 63.56, 2014),
 (19, 27, 'University of California, San Francisco', 3, 20, 355, 478, 23, 24, 8, 17, 9, 57, 63.36, 2014),
 (20, 28, 'University of Illinois at Urbana–Champaign', 3, 21, 34, 80, 21, 36, 45, 38, 68, 64, 62.89, 2014),
 (21, 29, 'University of Texas at Austin', 3, 22, 92, 39, 24, 51, 54, 26, 74, 45, 62.57, 2014),
 (22, 31, 'University of Toronto', 2, 1, 71, 45, 35, 2, 18, 13, 8, 149, 60.87, 2014),
 (23, 32, 'University of Washington - Seattle', 3, 23, 89, 107, 46, 9, 11, 8, 5, 54, 60.28, 2014),
 (24, 33, 'Rutgers University-New Brunswick', 3, 24, 91, 33, 31, 52, 47, 38, 51, 54, 60.0, 2014),
 (25, 37, 'Rockefeller University', 3, 25, 72, 478, 14, 347, 26, 107, 62, 227, 59.49, 2014),
 (26, 41, 'University of Virginia', 3, 26, 194, 17, 117, 93, 71, 55, 89, 94, 58.6, 2014),
 (27, 42, 'McGill University', 2, 2, 45, 32, 60, 35, 59, 34, 32, 204, 58.39, 2014),
 (28, 44, 'Dartmouth College', 3, 27, 46, 15, 210, 246, 164, 125, 132, 74, 58.0, 2014),
 (29, 45, 'University of North Carolina at Chapel Hill', 3, 28, 179, 86, 61, 32, 37, 22, 22, 38, 57.51, 2014),
 (30, 46, 'Pennsylvania State University, University Park', 3, 29, 226, 42, 65, 33, 36, 26, 33, 100, 57.19, 2014),
 (31, 47, 'Ohio State University, Columbus', 3, 30, 93, 65, 81, 30, 52, 30, 37, 38, 57.01, 2014),
 (32, 49, 'University of Minnesota, Twin Cities', 3, 31, 61, 159, 83, 19, 38, 29, 29, 68, 56.13, 2014),
 (33, 51, 'University of Southern California', 3, 32, 148, 74, 43, 59, 64, 61, 54, 33, 55.7, 2014),
 (34, 52, 'Purdue University, West Lafayette', 3, 33, 81, 52, 54, 72, 87, 73, 121, 20, 55.67, 2014),
 (35, 53, 'University of Pittsburgh - Pittsburgh Campus', 3, 34, 76, 195, 210, 25, 58, 21, 24, 64, 55.67, 2014),
 (36, 54, 'Carnegie Mellon University', 3, 35, 25, 219, 27, 207, 234, 52, 144, 170, 55.3, 2014),
 (37, 57, 'University of California, Davis', 3, 36, 47, 192, 90, 29, 31, 38, 50, 68, 55.18, 2014),
 (38, 58, 'Washington University in St. Louis', 3, 37, 96, 145, 112, 39, 21, 34, 19, 181, 54.93, 2014),
 (39, 59, 'University of Florida', 3, 38, 212, 299, 95, 34, 70, 52, 63, 8, 54.76, 2014),
 (40, 60, 'University of California, Santa Barbara', 3, 39, 124, 252, 28, 105, 53, 48, 56, 68, 54.76, 2014),
 (41, 61, 'University of British Columbia', 2, 3, 85, 298, 92, 26, 34, 36, 41, 78, 54.75, 2014),
 (42, 62, 'University of Utah', 3, 40, 88, 91, 45, 99, 62, 114, 94, 22, 54.67, 2014),
 (43, 63, 'University of Colorado Boulder', 3, 41, 75, 56, 41, 97, 35, 75, 77, 128, 54.5, 2014),
 (44, 64, 'University of Notre Dame', 3, 42, 197, 20, 150, 241, 230, 159, 238, 307, 54.25, 2014),
 (45, 66, 'University of Texas Southwestern Medical Center', 3, 43, 50, 478, 29, 127, 30, 81, 34, 181, 54.07, 2014),
 (46, 67, 'Boston University', 3, 44, 291, 47, 84, 60, 46, 43, 37, 227, 53.96, 2014),
 (47, 70, 'University of Arizona', 3, 45, 99, 62, 87, 67, 33, 37, 46, 307, 53.77, 2014),
 (48, 71, 'Vanderbilt University', 3, 46, 108, 90, 113, 58, 57, 52, 40, 51, 53.69, 2014),
 (49, 74, 'National University of Singapore', 1, 1, 355, 99, 210, 37, 136, 114, 102, 23, 53.52, 2014)]