In [2]:
import pandas as pd 
import os

# Job Title Index

In [3]:
job_title_index = {"Job Title Index" : [1, 2, 3, 4],
                  "Job Title": ["Data Analyst", "Data Scientist", "Data Engineer", "Machine Learning"] }

df = pd.DataFrame(job_title_index)
df = df.set_index ("Job Title Index")
df.to_csv("../Index Tables/job_title.csv")

df.head()

                        Job Title
Job Title Index
1                    Data Analyst
2                  Data Scientist
3                   Data Engineer
4                Machine Learning

# Country Index

In [4]:
country_index = {"Country Index" : [1, 2, 3, 4],
                  "Country Name": ["Singapore", "Canada", "United States", "Australia"] }

df = pd.DataFrame(country_index)
df = df.set_index ("Country Index")
df.to_csv("../Index Tables/country.csv")

df.head()

                Country Name
Country Index
1                  Singapore
2                     Canada
3              United States
4                  Australia