In [2]:
import pandas as pd 
import os

In [8]:
AU_filepath = "../Clean Data/AU-JobMarket.csv"
SG_filepath = "../Clean Data/SG-JobMarket.csv"
CA_filepath = "../Clean Data/CA-JobMarket.csv"
US_filepath = "../Clean Data/US-JobMarket.csv"


AU_df = pd.read_csv(AU_filepath)
CA_df = pd.read_csv(SG_filepath)
US_df = pd.read_csv(CA_filepath)
SG_df = pd.read_csv(US_filepath)

,Unnamed: 0,Job ID,Job Title Index,Job Title,Company Name,Company Location
0,0,pj_073affd41a7e51b1,1,Clinical Data Analyst - Epic,Akron Children's Hospital,"Akron, OH 44308 (Downtown area)"
1,1,pj_67d78959295c0291,1,Data Analyst,Guidehouse,"Hill AFB, UT 84056"
2,2,pj_620ece7848566de0,1,Data Analyst,"Freedom Motors USA, Inc.","Battle Creek, MI 49015"
3,3,p_4978853c04390cd1,1,Data Analyst Intern (Summer 2021),Showwcase,"San Francisco, CA 94117 (Haight-Ashbury area)"
4,4,p_91c4ea26668c909c,1,Data Analyst,State Farm,"Bloomington, IL 61701"

# Job Title Index

In [13]:
job_title_index = {"Job Title Index" : [1, 2, 3, 4],
                  "Job Title": ["Data Analyst", "Data Scientist", "Data Engineer", "Machine Learning"] }

df = pd.DataFrame(job_title_index)
df = df.set_index ("Job Title Index")
df.to_csv("../Index Tables/job_title.csv")

# Country Index

In [14]:
country_index = {"Country Index" : [1, 2, 3, 4],
                  "Country Name": ["Singapore", "Canada", "United States", "Australia"] }

df = pd.DataFrame(country_index)
df = df.set_index ("Country Index")
df.to_csv("../Index Tables/country.csv")