In [1]:
import pandas as pd 
import os

In [2]:
AU_filepath = "../Clean Data/AU-JobMarket.csv"
SG_filepath = "../Clean Data/SG-JobMarket.csv"
CA_filepath = "../Clean Data/CA-JobMarket.csv"
US_filepath = "../Clean Data/US-JobMarket.csv"


AU_df = pd.read_csv(AU_filepath)
CA_df = pd.read_csv(SG_filepath)
US_df = pd.read_csv(CA_filepath)
SG_df = pd.read_csv(US_filepath)

In [3]:
AU_df.head()

,Unnamed: 0,Job ID,Job Title Index,Job Title,Company Name,Company Location
0,0,p_447bbc295950e8b9,1,Data Reporting Analyst,Best Friends,Altona North VIC
1,1,p_335dc79e724048f5,1,Data Insights Analyst P&C,Coles Careers,Hawthorn East VIC
2,2,p_6cfb7acbba754c53,1,Data Analyst,PlaySide Studios,Melbourne VIC
3,3,p_fd7300023b1af3f8,1,Data Analyst - PACE Tribe,ANZ Banking Group,Melbourne VIC
4,4,p_8b5985f9e36e8a21,1,Senior Policy and Data Analyst (VPSG5),Department of Education and Training,Melbourne VIC

In [4]:
#investigating if the Job ID duplicates have different job title index 

data_summary = AU_df.groupby(["Job ID"]).nunique()
data_summary.head()

results = data_summary.loc[data_summary["Job Title Index"]!=1]
results

,Unnamed: 0,Job ID,Job Title Index,Job Title,Company Name,Company Location
Job ID,,,,,,
p_02313e3f381434db,2,1,2,1,1,1
p_03ecd420d2115589,2,1,2,1,1,1
p_05bb2bcca238315a,2,1,2,1,1,1
p_065b60e89ba20bcf,2,1,2,1,1,1
p_0865ac1214569201,24,1,2,1,1,1
...,...,...,...,...,...,...
p_efaedbad229b9b2e,3,1,2,1,1,1
p_f2e60fa465e6377d,2,1,2,1,1,1
p_f2f4f6e102acee1a,9,1,2,1,1,1
p_f3faf2466a8473ec,3,1,2,1,1,1
p_fae4637639eae192,3,1,2,1,1,1

In [5]:
AU_df.loc[AU_df["Job ID"]=="p_0865ac1214569201"]

,Unnamed: 0,Job ID,Job Title Index,Job Title,Company Name,Company Location
1220,1220,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1235,1235,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1249,1249,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1265,1265,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1280,1280,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1295,1295,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1310,1310,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1325,1325,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1339,1339,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1357,1357,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1370,1370,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1380,1380,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1395,1395,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1409,1409,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1425,1425,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1439,1439,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1455,1455,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1470,1470,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1485,1485,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1500,1500,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1514,1514,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1530,1530,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
1545,1545,p_0865ac1214569201,2,Senior Machine Learning Engineer,Insight Timer,Sydney NSW
2020,2020,p_0865ac1214569201,4,Senior Machine Learning Engineer,Insight Timer,Sydney NSW

In [6]:
#lots of data with duplicates - will remove duplicates but will keep the last one
#i.e. if one job is labeled as both Machine Learning and Data Analyst, the Machine Learning label entry will be kept
#ranking will be Machine Learning, Data Engineer, Data Scientist, and then Data Analyst 
#(ranking is based on how specific each role is)

AU_df.head()

,Unnamed: 0,Job ID,Job Title Index,Job Title,Company Name,Company Location
0,0,p_447bbc295950e8b9,1,Data Reporting Analyst,Best Friends,Altona North VIC
1,1,p_335dc79e724048f5,1,Data Insights Analyst P&C,Coles Careers,Hawthorn East VIC
2,2,p_6cfb7acbba754c53,1,Data Analyst,PlaySide Studios,Melbourne VIC
3,3,p_fd7300023b1af3f8,1,Data Analyst - PACE Tribe,ANZ Banking Group,Melbourne VIC
4,4,p_8b5985f9e36e8a21,1,Senior Policy and Data Analyst (VPSG5),Department of Education and Training,Melbourne VIC

In [7]:
AU_df_unique = AU_df.drop_duplicates(subset=['Job ID'], keep='last')

In [8]:
#check  

AU_df_unique.loc[AU_df_unique["Job ID"]=="p_0865ac1214569201"]

,Unnamed: 0,Job ID,Job Title Index,Job Title,Company Name,Company Location
2020,2020,p_0865ac1214569201,4,Senior Machine Learning Engineer,Insight Timer,Sydney NSW

In [9]:
#check 

data_summary = AU_df_unique.groupby(["Job ID"]).nunique()
data_summary.head()

results = data_summary.loc[data_summary["Job Title Index"]!=1]
results

Empty DataFrame
Columns: [Unnamed: 0, Job ID, Job Title Index, Job Title, Company Name, Company Location]
Index: []

In [10]:
AU_df_unique.head()

,Unnamed: 0,Job ID,Job Title Index,Job Title,Company Name,Company Location
0,0,p_447bbc295950e8b9,1,Data Reporting Analyst,Best Friends,Altona North VIC
1,1,p_335dc79e724048f5,1,Data Insights Analyst P&C,Coles Careers,Hawthorn East VIC
2,2,p_6cfb7acbba754c53,1,Data Analyst,PlaySide Studios,Melbourne VIC
3,3,p_fd7300023b1af3f8,1,Data Analyst - PACE Tribe,ANZ Banking Group,Melbourne VIC
4,4,p_8b5985f9e36e8a21,1,Senior Policy and Data Analyst (VPSG5),Department of Education and Training,Melbourne VIC

In [15]:
AU_df_unique = AU_df_unique.set_index("Job ID")
AU_df_unique.head()

KeyError: "None of ['Job ID'] are in the columns"

In [17]:
AU_df_unique = AU_df_unique.drop(columns=["Unnamed: 0"])

In [18]:
AU_df_unique.head()

,Job Title Index,Job Title,Company Name,Company Location
Job ID,,,,
p_447bbc295950e8b9,1,Data Reporting Analyst,Best Friends,Altona North VIC
p_335dc79e724048f5,1,Data Insights Analyst P&C,Coles Careers,Hawthorn East VIC
p_6cfb7acbba754c53,1,Data Analyst,PlaySide Studios,Melbourne VIC
p_fd7300023b1af3f8,1,Data Analyst - PACE Tribe,ANZ Banking Group,Melbourne VIC
p_8b5985f9e36e8a21,1,Senior Policy and Data Analyst (VPSG5),Department of Education and Training,Melbourne VIC

In [19]:
AU_df_unique["Company Location"].unique()

array(['Altona North VIC', 'Hawthorn East VIC', 'Melbourne VIC',
       'East Melbourne VIC', 'Melbourne City Centre VIC', 'Perth WA',
       'Macquarie Park NSW', 'Victoria', 'Sydney NSW',
       'Adelaide Region SA', 'Brisbane QLD', 'New South Wales',
       'Sydney Central Business District NSW', 'Australia',
       'Bella Vista NSW', 'Rhodes NSW', 'Wodonga VIC', 'South West WA',
       'Newstead QLD', 'Mount Cotton QLD', 'Canberra ACT',
       'Brisbane Central Business District QLD', 'City of Knox VIC',
       'North Ryde NSW', 'South Hobart TAS', 'Docklands VIC',
       'Mascot NSW', 'Sydney Western Suburbs NSW', 'Botany NSW',
       'Fullarton SA', 'Beacon Hill NSW', 'North Sydney NSW',
       'South Australia', 'Parramatta NSW', 'Dandenong VIC',
       'Barangaroo NSW', 'St Leonards NSW', 'Queensland', 'Newcastle NSW',
       'Darwin NT', 'North Lakes QLD', 'Gepps Cross SA', 'Southbank VIC',
       'Doncaster VIC', 'West Melbourne VIC', 'Darlinghurst NSW',
       'Ryde NSW', 'Portland VIC', 'Paddington NSW', 'South Yarra VIC',
       'Eight Mile Plains QLD', 'Hills District NSW', 'Banyo QLD',
       'Smithfield NSW', 'Silverwater NSW', 'City of Boroondara VIC',
       'Scoresby VIC', 'Surry Hills NSW', 'Auburn NSW', 'Keysborough VIC',
       'Fairfield VIC', 'Gordon NSW', 'Baulkham Hills NSW',
       'Illawarra NSW', 'Alexandria NSW', 'Nundah QLD', 'Wynyard TAS',
       'Toowong QLD', 'Sydney Inner Suburbs NSW', 'Collingwood VIC',
       'Adelaide CBD SA', 'Chatswood NSW', 'Redfern NSW', 'Toowoomba QLD',
       'Chippendale NSW', 'Geelong VIC', 'Ravenhall VIC', 'Hobart TAS',
       'Rocklea QLD', 'Gleniffer NSW', 'Glebe NSW', 'Osborne Park WA',
       'Pyrmont NSW', 'Bondi NSW', 'South Melbourne VIC',
       'Fortitude Valley QLD', 'Strathfield NSW', 'Remote',
       'South Brisbane QLD', 'Richmond VIC', 'Gold Coast QLD',
       'Matraville NSW', 'Mulgrave VIC', 'Broadway NSW', 'Clayton VIC',
       'Waurn Ponds VIC', 'Townsville QLD', 'Sunbury VIC', 'Tasmania',
       'Williamtown NSW', 'Western Australia', 'Macquarie University NSW',
       'Sunshine Coast QLD', 'Strathpine QLD', 'South Perth WA',
       'Bentley WA', 'Northgate QLD', 'Port Melbourne VIC', 'Coburg VIC',
       'Burleigh Heads QLD', 'Homebush NSW', 'The Rocks NSW',
       'Burwood VIC', 'Westmead NSW'], dtype=object)

In [32]:
#some locations dont have their states/provinces at the end 
# Western Australia, Tasmania, South Australia, Australia, New South Wales, Victoria

for row in AU_df_unique:
    AU_df_unique["State"] = AU_df_unique["Company Location"].str.split(' ').str[-1]

AU_df_unique.head()

,Job Title Index,Job Title,Company Name,Company Location,State
Job ID,,,,,
p_447bbc295950e8b9,1,Data Reporting Analyst,Best Friends,Altona North VIC,VIC
p_335dc79e724048f5,1,Data Insights Analyst P&C,Coles Careers,Hawthorn East VIC,VIC
p_6cfb7acbba754c53,1,Data Analyst,PlaySide Studios,Melbourne VIC,VIC
p_fd7300023b1af3f8,1,Data Analyst - PACE Tribe,ANZ Banking Group,Melbourne VIC,VIC
p_8b5985f9e36e8a21,1,Senior Policy and Data Analyst (VPSG5),Department of Education and Training,Melbourne VIC,VIC

In [39]:
AU_df_unique.loc[ AU_df_unique["State"] == AU_df_unique["Company Location"], "State"] = "N/A"

AU_df_unique.head()

,Job Title Index,Job Title,Company Name,Company Location,State
Job ID,,,,,
p_447bbc295950e8b9,1,Data Reporting Analyst,Best Friends,Altona North VIC,VIC
p_335dc79e724048f5,1,Data Insights Analyst P&C,Coles Careers,Hawthorn East VIC,VIC
p_6cfb7acbba754c53,1,Data Analyst,PlaySide Studios,Melbourne VIC,VIC
p_fd7300023b1af3f8,1,Data Analyst - PACE Tribe,ANZ Banking Group,Melbourne VIC,VIC
p_8b5985f9e36e8a21,1,Senior Policy and Data Analyst (VPSG5),Department of Education and Training,Melbourne VIC,VIC

In [54]:
for row in AU_df_unique:
    if str(AU_df_unique["State"]) != "N/A":
        AU_df_unique["Location"] = AU_df_unique["Company Location"].str.split(' ').str[:1]
    else: 
        AU_df_unique["Location"] = AU_df_unique["Company Location"]

AU_df_unique.head(30)

,Job Title Index,Job Title,Company Name,Company Location,State,Location
Job ID,,,,,,
p_447bbc295950e8b9,1,Data Reporting Analyst,Best Friends,Altona North VIC,VIC,[Altona]
p_335dc79e724048f5,1,Data Insights Analyst P&C,Coles Careers,Hawthorn East VIC,VIC,[Hawthorn]
p_6cfb7acbba754c53,1,Data Analyst,PlaySide Studios,Melbourne VIC,VIC,[Melbourne]
p_fd7300023b1af3f8,1,Data Analyst - PACE Tribe,ANZ Banking Group,Melbourne VIC,VIC,[Melbourne]
p_8b5985f9e36e8a21,1,Senior Policy and Data Analyst (VPSG5),Department of Education and Training,Melbourne VIC,VIC,[Melbourne]
p_9131dc14d50f52f5,1,Data Analyst,Gallagher,East Melbourne VIC,VIC,[East]
p_8c9274d0d7445e35,1,Data Analyst,Department of Justice and Community Safety,Melbourne City Centre VIC,VIC,[Melbourne]
p_9989f3bb920b0bf0,1,Data Analyst - Utilities | Data and Analytics,Ernst & Young,Perth WA,WA,[Perth]
p_9bee7a04d314eb2f,1,Data & Reporting Analyst,Metcash,Macquarie Park NSW,NSW,[Macquarie]
p_12ebe239a4804501,1,Data Analyst,Bupa,Victoria,N/A,[Victoria]
p_c6fe62ecb5ff6e36,1,Data & Technology Analyst,Annalect,Sydney NSW,NSW,[Sydney]
p_d2f910f5633f9b65,1,QUALITY TEACHING & LEARNING DATA ANALYST,Government of South Australia,Adelaide Region SA,SA,[Adelaide]
p_92d986c042407f10,1,Data Migration Analyst,City of Monash,Melbourne VIC,VIC,[Melbourne]
p_8bf64cfcf1107dee,1,SQL Data Analyst - Mid Level,HUMANISED GROUP,Brisbane QLD,QLD,[Brisbane]
p_8a65727f0d6b3d9e,1,Data & Reporting Analyst,NAVAL GROUP AUSTRALIA,Adelaide Region SA,SA,[Adelaide]
p_b5783a6498867fd7,1,Tax Data Analyst,News Corp Australia,Sydney NSW,NSW,[Sydney]
p_0110676078565056,1,Data Analyst,Victoria Legal Aid,Melbourne City Centre VIC,VIC,[Melbourne]
p_648b9d0db57c6d40,1,Data Analyst,flybuys,Melbourne VIC,VIC,[Melbourne]
p_5a8bf0580bc3841d,1,"Data Analyst - Product, Features, & Growth",Canva,Sydney NSW,NSW,[Sydney]
p_b573cf04a8e1579b,1,Data Analyst Group Insurance,Marsh and McLennan,Sydney NSW,NSW,[Sydney]
p_4834571a8f62137e,1,Junior Data Analyst (Contract),Veeva Systems,Sydney NSW,NSW,[Sydney]
p_636aee57442e7f07,1,"Analyst, Reporting & Governance",Department of Health and Human Services,Melbourne City Centre VIC,VIC,[Melbourne]
p_01ea8e9fc8b57bd6,1,Supply Chain Analyst,Chanel,New South Wales,Wales,[New]
p_f8d38e42eb8bc265,1,Data Analyst - Power BI,Morgan McKinley,Sydney Central Business District NSW,NSW,[Sydney]
p_0bb4463e436d332c,1,Data Analyst,AMP Limited,Sydney NSW,NSW,[Sydney]
p_f464b02e55a9d83a,1,"Analyst, Data Management Office",Rabobank,Sydney NSW,NSW,[Sydney]
p_f1715bf078aa5bf7,1,"Data Analyst, Campaign Developer",ANZ Banking Group,Melbourne VIC,VIC,[Melbourne]
p_5aacf750354b76be,1,Data Analyst,Mott MacDonald,New South Wales,Wales,[New]
p_29ea91e7ddfbd68b,1,Business Intelligence (BI) & Data Warehouse De...,Harris Farm,Australia,N/A,[Australia]
p_96bc6e30d1665d98,1,Data Analyst,Woolworths Group,Bella Vista NSW,NSW,[Bella]