In [1]:
import pandas as pd 
import os

In [2]:
country = ["CA", "US", "SG"]

In [6]:
for x in country: 
    filepath = f"../Clean Data/{x}-JobMarket.csv"
    df = pd.read_csv(filepath, index_col=0)
    
    #removing which jobs have more than one unique job title index 
    #lots of data with duplicates - will remove duplicates but will keep the last one
    #i.e. if one job is labeled as both Machine Learning and Data Analyst, the Machine Learning label entry will be kept
    #ranking will be Machine Learning, Data Engineer, Data Scientist, and then Data Analyst 
    #(ranking is based on how specific each name is)
    df = df.drop_duplicates(subset=['Job ID'], keep='last')
    
    #set job id as index (now unique)
    df = df.set_index("Job ID")
    
    #df to csv 
    df.to_csv(f"../Transformed Data/{x}-JobMarket-Transformed.csv")
    
    #df to sql
    df.to_sql(f"../Transformed Data/{x}-JobMarket-Transformed.sqlite")

TypeError: to_sql() missing 1 required positional argument: 'con'